<div>
    <div class="__dg __g2 __gap4 __sc_block">
        <div class="__nft_section">
            <div class="__img_box">
                <div class="__img_box_content" [ngStyle]="{backgroundImage: 'url('+ IMG_PATH + nft?.photo +')'}"></div>
            </div>
        </div>
        <div class="__sc_content">
            <h1>{{ nft?.name }}</h1>
            <div class="__contract_id">
                <span class="__title">Smart Contract </span><span class="__address">{{nft?.smartContract}}</span>
            </div>
            <div class="__sc_content_list __mt3">
                <div class="__form_item">
                    <label class="__label">Зарах үнэ</label>
                    <div class="__dg __g1select">
                        <input class="__input" placeholder="Зарах үнэ" />
                        <p-dropdown [options]="userCoins" [(ngModel)]="selectedCity" optionLabel="name">
                            <ng-template let-country pTemplate="item">
                                <div>{{country.name}}</div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="__form_item">
                    <label class="__label">Дуусах хугацаа</label>
                    <p-calendar [(ngModel)]="sell_date" [showTime]="true" class="__w10"></p-calendar>
                </div>
                <div class="__form_item __fee_block">
                    <label class="__label">Хураамж</label>
                    <h3>20%</h3>
                    <p>Хураамжийн хэмжээ 20% (Энэхүү NFT-ийн анхны үүсгэгчийн урамшуулалд болон NOMADX Marketplace-ийн үйлчилгээний хураамжууд багтсан.)</p>
                </div>
                <div class="__form_item">
                    <!-- <label class="__label">Тоо ширхэг</label>
                    <div class="__dfc">
                        <div class="__c_count">
                            <div class="__quantity"><span class="__q_icon __minus"></span></div>
                            <input type="text" placeholder="0" min="1" contenteditable="true" class="__dfcc countInput">
                            <div class="__quantity"><span class="__q_icon __plus"></span></div>
                        </div>
                        <div class="__limit">Хамгийн ихдээ<span>(Боломжит: 2)</span></div>
                </div> -->
                <button type="button" class="__btn __primary __w10 __mt3">Хадгалах</button>
            </div>
        </div>
    </div>
</div>
