html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: 'bd';
  font-size: 14px;
  color: #32363a;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  background-color: #091127;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #32363a;
  font-size: 14px;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #171c30;
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Cardo'; */
  font-weight: bold;
}

@font-face {
  font-family: 'sf';
  font-weight: 400;
  src: url(~src/assets/fonts/SF-UI-Display-Regular.otf) format("opentype"),
    url(~src/assets/fonts/SF-UI-Display-Regular.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 500;
  src: url(~src/assets/fonts/SF-UI-Display-Medium.otf) format("opentype"),
    url(~src/assets/fonts/SF-UI-Display-Medium.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 600;
  src: url(~src/assets/fonts/SF-UI-Display-Semibold.otf) format("opentype"),
    url(~src/assets/fonts/SF-UI-Display-Semibold.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 700;
  src: url(~src/assets/fonts/SF-UI-Display-Bold.otf) format("opentype"),
    url(~src/assets/fonts/SF-UI-Display-Bold.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 800;
  src: url(~src/assets/fonts/SF-UI-Display-Black.otf) format("opentype"),
    url(~src/assets/fonts/SF-UI-Display-Black.otf) format("opentype")
}

@font-face {
  font-family: 'bd';
  font-weight: 400;
  src: url(~src/assets/fonts/B-Demi.woff2) format("opentype"),
    url(~src/assets/fonts/B-Demi.woff2) format("opentype")
}

@font-face {
  font-family: 'bd';
  font-weight: 500;
  src: url(~src/assets/fonts/B-Bold.woff2) format("opentype"),
    url(~src/assets/fonts/B-Bold.woff2) format("opentype")
}

.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

/* Nomadic Other Style */
.__dfc {
  display: flex;
  align-items: center;
}

.__dfs {
  display: flex;
  align-items: flex-start;
}

.__dfjs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__dfcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__dfce {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.__aic {
  align-items: center;
}

.__pa {
  position: absolute;
}

.__pr {
  position: relative;
}

.margin_left10 {
  margin-left: 10px;
}

._margin_right10 {
  margin-right: 10px;
}

.label {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 0 !important;
  width: 100%;
}

.radio-label .radiobox {
  opacity: 0;
  position: absolute;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type=radio]:checked+.label {
  background-color: rgba(155 129 111 / .3);
  border-color: rgba(154 130 112 / 1);
}

.checkbox[type="checkbox"]:checked+.checkmark::before,
.checkbox[type="checkbox"]:checked+.checkmark::after {
  display: block;
  width: 10px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 6px;
  content: "";
  background-color: #091127;
  transform: rotate(-45deg);
}

.checkbox[type="checkbox"]:checked+.checkmark,
.radiobox[type="radio"]:checked+.checkmark,
.label:hover .checkbox[type="checkbox"]:checked+.checkmark {
  background-color: #09ffa7;
  border-color: #09ffa7;
}

.radiobox[type="radio"]:checked+.checkmark::before {
  display: flex;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-color: rgba(154 130 112 / 1);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.checkbox[type="checkbox"]:checked+.checkmark::before {
  top: 9px;
  left: 3px;
  width: 5px;
  transform: rotate(45deg);
}

.radio-label,
.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  min-height: 20px;
  padding-left: 28px;
  color: #000;
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label {
  min-height: 20px;
  line-height: 20px;
}

.checkbox-label .checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #c1c1c1;
  transform: translate(0, -50%);
  border-radius: 6px;
}

.checkbox-label:not(.disabled).\:hover .checkbox~.checkmark,
.checkbox-label:not(.disabled):hover .checkbox~.checkmark {
  background-color: rgba(255, 255, 255, .3);
  border-color: #fff;
}

.label-text {
  color: #fff;
  display: flex;
  font-weight: normal;
  flex-wrap: wrap;
  line-height: 1.2;
}

.label-text a {
  color: #09ffa7;
  margin-left: 5px;
}

.__page_header {
  position: relative;
  min-height: 220px;
  overflow: hidden;
}

.__page_header::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -6px;
  width: 100%;
  height: 100px;
  background: url(~src/assets/images/item_bottom_img.png) no-repeat center center;
  transform: scaleY(-1);
  pointer-events: none;
  z-index: 0;
}

.__page_header h2 {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  color: #0bffa7;
  font-size: 28px;
  font-weight: 400;
  font-family: 'bd';
  text-align: center;
  transform: translate(-50%, -50%);
}

.__page_header a {
  text-decoration: underline;
}

.__page_main {
  min-height: calc(100vh - 265px);
  background-color: #fff;
}

.__page_content {
  padding: 40px 0;
}

.__page_content_title {
  position: relative;
  color: #091127;
  font-size: 20px;
  font-weight: 400;
  font-family: 'bd';
  line-height: 1.2;
  margin-bottom: 15px;
}

.__page_content_title~.__page_content_title {
  margin-top: 40px;
}

.__step {
  padding-left: 40px;
}

.__step::before {
  position: absolute;
  content: '1';
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  width: 28px;
  transform: translateY(-50%);
  border: 2px solid #091127;
  border-radius: 8px;
}

.__step:nth-child(3)::before {
  content: '2';
}

.__se:before {
  content: '3';
}

.__or_text {
  text-align: center;
  margin: 15px 0;
}

.__label {
  display: flex;
  color: #616e91;
  font-weight: normal;
  margin-bottom: 6px;
}

.__log_reg_main .__label {
  color: #d6e6ff;
}

.__label_info {
  color: #616e91;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 6px;
}

.__label_tit {
  color: #616e91;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 6px;
  left: 0;
  transition: .2s ease-out;
}

.__prof_info .__form_item p {
  font-weight: 500;
}

.__form_item {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.__form_item_cont {
  padding: 5px 10px;
  background-color: #f6f8f9;
  margin-bottom: 16px;
}

.__form_label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.__form_text{
  line-height: 48px;
  min-height: 48px;
  width: 100%;
  padding: 0 14px;
  background-color: #f6f8f9;
  
}
.__help_error {
  color: rgb(207, 48, 74);
  font-size: 13px;
  margin-top: 4px;
}

.__valid_item {
  position: relative;
}

.__valid_tooltip {
  position: absolute;
  content: '';
  top: 50%;
  left: calc(100% + 10px);
  padding: 7px 10px;
  background-color: #f1f3f4;
  box-shadow: 0 5px 15px rgba(0 0 0 / .1);
  transform: skew(-5deg) translateY(-50%);
}

.__valid_tooltip li {
  display: flex;
  font-size: 13px;
  align-items: center;
  white-space: nowrap;
}

.__valid_tooltip li span {
  margin-right: 5px;
}

.__valid_icon {
  display: flex;
  height: 14px;
  width: 14px;
  background-size: 100%;
}

.__error {
  background: url('~src/assets/images/__valid_error_icon.svg') no-repeat center center;
}

.__done {
  background: url('~src/assets/images/__valid_confirm_icon.svg') no-repeat center center;
}

.__input,
.__select,
.__textarea {
  color: #000;
  font-size: 14px;
  font-family: 'sf';
  font-weight: 500;
  min-height: 48px;
  width: 100%;
  line-height: 46px;
  padding: 0 14px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d5dd;
  border-radius: 8px;
  
  transition: all .2s ease-in-out;
}

.__textarea {
  min-height: 60px;
  max-height: 120px;
  resize: vertical;
}

.__input_rest {
  height: 38px;
  line-height: 38px;
  padding: 0 14px 0 38px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e3e4e6;
  border-radius: 6px;
}

.__input:focus,
.__select:focus,
.__textarea:focus,
.filled,
.filled .__label_tit,
.__label_not_edit .__label_tit {
  border-color: #09ffa7;
}

.__input::placeholder,
.__textarea::placeholder{
  color: #aaa;
}

.__input:hover,
.__select:hover,
.__textarea:hover,
.__input_rest:hover {
  border-color: #09ffa7;
}

.__input:focus,
.__select:focus,
.__textarea:focus,
.__input_rest:focus {
  border-color: #09ffa7;
}

.__redc {
  color: #eb2121;
}

.__s11 {
  font-size: 11px;
}

.__s12 {
  font-size: 12px;
}

.__s13 {
  font-size: 13px;
}

.__withdraw_notice {}

.__withdraw_notice p {
  font-size: 13px;
}

.__withdraw_notice p~p {
  margin-top: 16px;
}

.__withdraw_notice p span {
  font-weight: 500;
}

.__withdraw_item {
  color: #616e91;
}

.__withdraw_item span {
  color: #091127;
  font-family: 'bd';
  font-weight: 400;
  margin-left: 5px;
}

.__with_updown_wrap {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeef0;
}

.__with_updown_item {
  padding: 10px;
  background-color: #f6f8f9;
}

.__with_updown_item h4 {
  font-size: 15px;
  font-family: 'bd';
  font-weight: 400;
}

.__with_updown_item~.__with_updown_item {
  border-left: 1px solid #eeeef0;
}

.__withdraw_item~.__withdraw_item {
  margin-top: 5px;
}

.__btn {
  color: #091127;
  font-weight: 400;
  font-family: 'bd';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 20px;
  background-color: transparent;
  transition: all .15s ease-in;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.__primary {
  background-color: #09ffa7;
}

.__primary:hover {
  background-color: #06d98d;
}

.__btn_item {
  margin-top: 30px;
}

.__buy_btn {
  padding-left: 10px !important;
  justify-content: space-between !important;
}

.__buy_btn span {
  font-size: 16px;
  padding: 3px 8px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 4px;
}

.__form_content {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.__form_content p {
  color: #707a8a;
}

.__form_content a {
  color: #09ffa7;
}

.__form_content a:hover {
  text-decoration: underline;
}

.__form_content a~a {
  margin-top: 5px;
}

.__subscribe_input {
  padding-right: 100px;
}

.__fb_btn {
  background-color: #3b5998;
}

.__fb_btn:hover {
  background-color: #2b457b;
}

.__tw_btn {
  background-color: #1da1f2;
}

.__tw_btn:hover {
  background-color: #657786;
}

.__default {
  color: #1f4c76;
  background-color: transparent;
  border-color: #1f4c76;
}

.__default:hover {
  background-color: rgba(9, 17, 38, .1);
}

.wrap_content,
.wrap_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0 auto;
  max-width: 1280px;
}

.wrap_content {
  width: 940px;
}

.__min_container {
  padding: 50px 0;
  width: 440px;
  padding: 30px;
  margin: 50px auto;
  background-color: #1a2542;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border: 1px solid rgba(255, 255, 255, .05);
}

.__content_header {
  display: grid;
  margin-bottom: 20px;
}

.__content_header_right {
  flex: 1;
}

.__section_layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.__page_grid_block {
  grid-template-columns: 1fr 310px;
  gap: 20px;
}

.__page_profile_block {
  grid-template-columns: 240px 1fr;
  gap: 20px;
}

.__section {
  padding: 80px 0;
  overflow: hidden;
}

.__dg {
  display: grid;
}

.__g1 {
  grid-template-columns: 1fr;
}

.__g1_180 {
  grid-template-columns: 1fr 180px;
}

.__g24_1 {
  grid-template-columns: 24px 1fr;
}

.__g2 {
  grid-template-columns: 1fr 1fr;
}

.__prof_side {
  grid-template-columns: 360px 1fr;
}

.__g3 {
  grid-template-columns: repeat(3, 1fr);
}

.__g4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.__g4_1 {
  grid-template-columns: 40px 1fr;
}

.__g5_7 {
  grid-template-columns: calc(41.66667% - 8px) calc(58.33333% - 8px);
}

.__g5 {
  grid-template-columns: repeat(5, 1fr);
}

.__g6 {
  grid-template-columns: repeat(6, 1fr);
}

.__gi_c {
  grid-template-columns: 80px 1fr;
}

.__gap_8 {
  gap: 8px !important;
}

.__gap1 {
  gap: 10px;
}

.__gap1_6 {
  gap: 16px;
}

.__gap2 {
  gap: 20px;
}
.__gap2_4{
  gap: 24px;
}

.__gap_col2 {
  column-gap: 20px;
}

.__gap3_2 {
  gap: 32px;
}

.__gap4 {
  gap: 40px;
}

.__section_title {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: 'bd';
  text-transform: uppercase;
  margin-bottom: 40px;
}

.__section_title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 80px;
  background-color: #09ffa7;
}

.__w10 {
  width: 100%;
}

.margin_none {
  margin: 0;
}

.padding_none {
  padding: 0;
}

.__m0 {
  margin: 0 !important;
}

.__mt_5 {
  margin-top: 5px;
}

.__ml1 {
  margin-left: 10px;
}

.__ml_5 {
  margin-left: 5px;
}

.__mb1_6 {
  margin-bottom: 16px;
}

.__mb2_4 {
  margin-bottom: 24px;
}

.__mt2 {
  margin-top: 20px;
}

.__mt2_4 {
  margin-top: 24px;
}

.__mt3 {
  margin-top: 30px;
}

.__mt4 {
  margin-top: 40px;
}

.__mb2 {
  margin-bottom: 20px;
}

.__mb3 {
  margin-bottom: 30px;
}
.__mr1{
  margin-right: 10px;
}
.__icon {
  display: flex;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.__account {
  background-image: url('~src/assets/images/account_icon.svg');
  background-size: 80%;
}

.__help {
  cursor: pointer;
  /* background-image: url('~src/assets/images/help_icon.svg'); */
}

.__dark_light {
  cursor: pointer;
  background-image: url('~src/assets/images/switch_icon.svg');
}

.__my_favourite {
  /* background-image: url('~src/assets/images/favourite_icon.svg'); */
}

.__wallet_icon {
  background-image: url('~src/assets/images/wallet_icon.svg');
}

.__alert {
  /* background-image: url('~src/assets/images/alert_icon.svg'); */
}

/* Nomadic Other Style End */

/* Nomadic Header Style */
body.visibled {
  position: relative;
  overflow: hidden;
}

.__visible_page {
  overflow: hidden;
}

.__visited {
  position: fixed;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
  z-index: 97;
}

.__header_wrap {
  position: relative;
  height: 80px;
  top: 0;
}

.__header_main {
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #091127;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  z-index: 102;
}

.__header_content {}

.__header_logo {
  margin-right: 50px;
}

.__header_logo span {
  display: flex;
  height: 32px;
  width: 120px;
  margin-top: 8px;
  background: url('~src/assets/images/nomadx_logo.svg') no-repeat center center;
  background-size: contain;
}
.slogan span{
  background: url('~src/assets/images/nomadx_logo.svg') no-repeat center center;
  background-size: contain;
}
.nft span{
  background: url('~src/assets/images/nomadx_logo.svg') no-repeat center center;
  background-size: contain;
}
.wallet span{
  background: url('~src/assets/images/nomadx_logo.svg') no-repeat center center;
  background-size: contain;
}
.__header_menu {
  position: relative;
}

.__header_menu>ul {
  display: flex;
  align-items: center;
}

.__header_menu ul>li {
  position: relative;
  padding: 0 10px;
  transition: all .2s ease-in-out;
}

.__header_menu>ul>li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 14px;
  padding: 0 16px;
  height: 80px;
  transition: all .2s ease-in-out;
}

.__header_menu>ul>li .active::after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #0bffa7;
}

.__header_menu>ul>li:hover>a,
.__header_menu>ul>li:hover .__menu_link {
  opacity: 1;
}

.__header_menu>ul>li a span {
  width: 26px;
  height: 18px;
  background-color: red;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: -7px;
}

.__header_menu>ul>li a span::before {
  content: '';
  width: 26px;
  height: 18px;
  background-color: red;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  animation: shineAnimation 2s 1s infinite ease-out;
}

.__mobile>ul>li {
  position: relative;
}

.__mobile>ul>li a span {
  width: 26px;
  height: 18px;
  background-color: red;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 18px;
  left: 62px;
  color: #fff;
}

.__mobile>ul>li a span::before {
  content: '';
  display: flex;
  width: 26px;
  height: 18px;
  background-color: red;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  animation: shineAnimation 2s 1s infinite ease-out;
}

.__menu_dropdown {
  display: flex;
  position: absolute;
  content: '';
  top: 100%;
  left: -10000px;
  padding: 32px 38px;
  background-color: #fff;
  opacity: 0;
  border-top: 1px solid rgba(154 130 112 / .2);
  ;
  transition: opacity .3s ease, top .35s ease;
  box-shadow: 0 6px 10px rgba(154 130 112 / .2);
}

.__menu_dropdown::before,
.__dropdown_box::before {
  display: flex;
  position: absolute;
  content: '';
  top: -1px;
  left: 20px;
  height: 2px;
  width: 20px;
  background-color: rgba(154 130 112 / 1);
}

.__menu_dropdown::before {
  left: 38px;
}

.__menu_wrap>ul li:hover .__menu_dropdown {
  left: 0;
  opacity: 1;
}

.__dropdown_grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.__dd_grid_two {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.__gth {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.__dropdown_grid h4 {
  color: rgba(154 130 112 / .9);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.__dropdown_grid ul,
.__dropdown_grid ul li,
.__dropdown_grid ul li a {
  color: rgba(0 0 0 / .5);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.__dropdown_grid ul {
  min-width: 180px;
}

.__dropdown_grid ul li {
  padding: 4px 0;
}

.__dropdown_grid ul li a {
  padding: 5px 0;
  text-transform: none;
}

.__dropdown_grid ul li:hover a {
  color: #32363a;
  background: none;
}

.__header_right {
  display: flex;
  align-items: center;
}

.__header_url {}
.__hr_l_item{
  position: relative;
}
.__hr_l_item~.__hr_l_item {
  margin-left: 8px;
}

.__hr_l_item a {
  display: flex;
  font-size: 13px;
}

.__login {
  margin-right: 10px;
}

.__login .__icon {
  margin-right: 8px;
}

.__login a,
.__register a {
  color: #091127;
  font-weight: 500;
  line-height: 36px;
  height: 36px;
  padding: 0 16px;
  background: #09ffa7;
  border-width: 1px;
  border-style: solid;
  border-color: #9cffdc;
  transition: all .15s ease-in;
  border-radius: 8px;
  
}

.__login a:hover {
  background-color: #132144;
}

.__register a:hover {
  background-color: #06d98d;
}

.__login a {
  color: #fff;
  padding-left: 6px;
  background: transparent;
  border-color: #1f4c76;
}

.__register .active {
  background-color: #ffc762;
  border-color: #ffda94;
}

.__hr_tools {
  margin-left: 20px;
}

.__menu_small {
  position: relative;
  display: flex;
  height: 44px;
  width: 44px;
  cursor: pointer;
  overflow: hidden;
}

.__menu_small span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 1px;
  opacity: 1;
  background-color: #fff;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
}

.__menu_small span:nth-child(2) {
  top: 16px;
}

.__menu_small span:last-child {
  top: 28px;
  width: 16px;
  margin-left: -2px;
}

.open.__menu_small span:first-child {
  opacity: 0;
  width: 0;
}

.open.__menu_small span:nth-child(2) {
  transform: translate(0, 6px) rotate(45deg);
}

.open.__menu_small span:last-child {
  width: 20px;
  transform: translate(2px, -6px) rotate(-45deg);
}

.__menu_m_wrap {
  position: fixed;
  top: 80px;
  bottom: 0;
  height: 100vh;
  width: 80vw;
  max-width: 400px;
  background-color: #091127;
  box-shadow: 2px 0 8px rgba(0 0 0 / .1);
  transition: transform .2s cubic-bezier(.7, 1, .3, .1);
  transform: translateX(-200%);
  z-index: 101;
}

.__menu_m_wrap.open {
  transform: translateX(0);
}

.__menu_m_wrap .__block {}

.__menu_m_wrap ul {
  overflow-y: auto;
}

.__menu_m_wrap ul li {}

.__menu_m_wrap ul li~li {
  border-top: 1px solid #18264c;
}

.__menu_m_wrap ul li a {
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 20px;
}

.__menu_m_wrap .__tools {
  height: 50px;
  padding: 10px 20px;
}

.__tools .__tools_list .__help {
  /* background-image: url('~src/assets/images/menu_help_icon.svg'); */
}

.__tools .__tools_list .__dark_light {
  background-image: url('~src/assets/images/menu_switch_icon.svg');
}

/* Nomadic Header Style End */

/* Nomadic Breadcrumb Style */
.__breadcrumb {
  display: grid;
  width: 100%;
  margin: 20px 0;
}

.__breadcrumb ul {
  display: flex;
  align-items: center;
}

.__breadcrumb ul li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.__breadcrumb ul li a::after {
  content: "/";
  font-size: 13px;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}

.__breadcrumb ul li span {
  color: #b1b4b5;
}

/* Nomadic Breadcrumb Style End */

/* Nomadic Dropdown Style */
.__dropdown_item {
  display: inline-flex;
  position: relative;
}

.__dropdown_item~.__dropdown_item {
  margin-left: 20px;
}

.__dropdown {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 7px 10px;
  cursor: pointer;
}

.__dropdown:hover {
  background-color: rgba(154 130 112 / .05);
}

.open .__dropdown {
  color: rgba(154 130 112 / 1);
  background-color: rgba(154 130 112 / .1);
}

.__dropdown span {
  position: relative;
  height: 12px;
  width: 12px;
  margin-left: 10px;
  /* background: transparent url('~src/assets/images/icon_drop_arrow.svg') center center no-repeat; */
  background-size: contain;
}

.open .__dropdown span {
  transform: rotate(180deg);
}

.__dropdown_box {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  min-height: 100px;
  min-width: 240px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgb(154 130 112 / 30%);
  z-index: 11;
}

/* Nomadic Dropdown Style End */

/* Nomadic Dialog Style */
.nomadic_dialog {
  display: none;
  position: relative;
}

.__dialog_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 540px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 111;
}

.__dialog_wrap .__min_container {
  width: 100%;
}

.__dialog_header {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadde1;
}

.__dialog_header h3 {
  font-size: 18px;
  font-weight: 500;
}

.__dialog_main h4 {
  font-size: 14px;
  font-weight: 400;
}

.__dialog_main h4 span {
  display: inline-flex;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
  padding: 5px 8px;
  background-color: #ffc762;
  border-radius: 6px;
  
}

.__dialog_main ul {
  margin: 20px 0;
}

.__dialog_main ul li {}

.__dialog_main ul li~li {
  margin-top: 10px;
}

.__dialog_main ul li label {
  color: #777;
  font-weight: normal;
}

.__dialog_main ul li p {
  color: #091127;
  font-size: 18px;
  font-weight: 500;
  font-family: 'bd';
}

/* Nomadic Dialog Style End */

/* Nomadic Main Style */
.__main_wrapper {
  min-height: calc(100vh - 50px);
}
.__profile_wrapper{
  min-height: calc(100vh - 20px);
}
.__main_content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.__image_block {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.__img_m {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.__img_m img {
  position: relative;
  height: 100%;
  min-height: 280px;
  width: 100%;
}

.__table_wrap {
  position: relative;
  overflow-x: auto;
}
.__table_action{
  position: sticky;
  right: 0;
}
.__table_action .__default{
  background-color: #fff;
}
.__table {
  width: 100%;
  table-layout: auto;
  border-spacing: 0 1px;
}

.__table thead {}

.__table thead th {
  color: #616e91;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.__table thead th:first-child {
  border-top-left-radius: 4px;
}

.__table thead th:last-child {
  border-top-right-radius: 4px;
}

.__table th,
.__table td {
  padding: 12px;
}

.__table tbody tr:nth-child(2n + 1){
  background-color: #f6f8f9;
}
.__table_action{
  background: linear-gradient(to left, #fff 70%, transparent);
}
.__table tbody tr:nth-child(2n + 1) .__table_action{
  background: linear-gradient(to left, #f6f8f9 70%, transparent);
}

.__table td {
  color: #454748;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #e5e9eb;
}
.__balance_box{
  position: relative;
  padding: 16px;
  background-color: #e2f4fd;
  border-radius: 8px;
}
.__balance_eye{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: #edf9ff;
  transform: translateY(-50%);
  border-radius: 8px;
  cursor: pointer;
}
.__balance_eye span{
  display: flex;
  height: 24px;
  width: 24px;
  background: transparent url('~src/assets/images/eye_icon.svg') no-repeat center center;
  background-size: 100%;
}
.__balance_eye.hide span{
  background: url('~src/assets/images/eye_hide_icon.svg') no-repeat center center
}
.__balance_name{
  line-height: 1;
}
.__balance_img{
  height: 24px;
  width: 24px;
  margin-right: 6px;
}
.__balance_status{
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}
.__balance_status ~ .__balance_status{
  margin-left: 20px;
}
.__balance_status.up span, .__balance_status.down span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: #e2ecf5 url('~src/assets/images/balance_up.svg') no-repeat center center;
  background-size: 85%;
  border-radius: 50%;
}
.__balance_status.down span{
  background-image: url('~src/assets/images/balance_down.svg');
}
.__table_img {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
}

.__td_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.__td_img img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.__status {
  display: inline-flex;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 20px;
  
  white-space: nowrap;
}
.__account_status{
  display: inline-flex;
  height: 18px;
  width: 18px;
  min-width: 18px;
  margin-right: 7px;
  border-radius: 50%;
}
.__account_status.__confirm{
  display: flex;
  background: #1ecf8d url('~src/assets/images/accont_confirm.svg') no-repeat center center;
  background-size: 80%;
}
.__account_status.__not_confirmed{
  background: red;
}

.__remove{
  height: 20px;
  width: 24px;
  background: #e91e62;
  border-radius: 4px;
  cursor: pointer;
}
.__remove span{
  display: flex;
  height: 14px;
  width: 14px;
  background: url('~src/assets/images/remove_icon.svg') no-repeat center center;
  background-size: 100%;
}

.__send {
  color: #091127;
  background-color: #fec761;
}

.__waiting,
.__request_sent {
  color: #fff;
  background-color: #007eff;
}

.__confirm {
  color: #091127;
  background-color: #09ffa7;
}

.__canceled {
  color: #fff;
  background-color: #ff0b4b;
}

.__up {
  background-image: url('~src/assets/images/up_icon.svg');
}

.__down {
  background-image: url('~src/assets/images/down_icon.svg');
}

.__bank_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  padding: 16px 16px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: all .1s ease-in;
  cursor: pointer;
}
.__bank_item:hover{
  background-color: #f3f5f6;
}
.__bank_item.active{
  border-color: #091127;
}
.__bank_img{
  height: 44px;
  width: 44px;
  margin-bottom: 10px;
}
.__bank_img img{
  width: 100%;
}
.__bank_item p{
  line-height: 1.2;
}
.__bank_content{
  margin-top: 10px;
}
.__bank_content li{

}
.__bank_content li ~ li{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #e0e3eb;
}
.__bank_content li label{
  color: #626f8f;
  font-size: 12px;
  font-weight: normal;
}
.__bank_content .__copy{
  color: #626f8f;
  cursor: pointer;
}
.__bank_content .__copy span{
  display: flex;
  height: 14px;
  width: 14px;
  margin-right: 6px;
  background: url('~src/assets/images/copy_icon.svg') no-repeat center center;
  background-size: 100%;
}
.__detail_content {
  position: relative;
}

.__detail_header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.__detail_main {}

.__detail_main p {
  color: #687597;
  font-size: 15px;
  line-height: 1.4;
}

.__detail_main p~p {
  margin-top: 20px;
}

.__detail_main_c {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.__detail_main_f {
  margin-bottom: 20px;
}

.__detail_main_f .__c_price {
  text-align: left;
}

.__detail_main_f .__c_p_mnt {
  font-size: 16px;
  margin: 3px 0 0;
}

.__detail_price {
  font-size: 24px;
  line-height: 1;
}

.__detail_lb .__image_block,
.__detail_lb .__img_m,
.__in_gift_box .__img_m {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #091127;
}

.__in_gift_box .__img_m,
.__in_gift_box .__image_block {
  flex-direction: column;
  background-color: #09ffa7;
}

.__in_gift_box .__img_m img {
  height: auto !important;
  min-height: auto !important;
}

.__in_gift_box {
  color: #091127;
  font-weight: 400;
  font-family: 'bd';
}

.__in_gift_box h2 {
  margin-bottom: 10px;
}

.__in_gift_box p {
  font-size: 100px;
  line-height: 1;
}

.__tb_bi_desc {
  font-size: 12px;
}

.__tb_bi_desc .__tdbi_label {
  font-weight: normal;
}

.__tb_bi_desc span {
  font-weight: 500;
}

.__announcements {
  overflow: hidden;
}

.__rec_item {
  overflow: hidden;
}

.__rec_item img {
  width: 100%;
}

.__rec_item~.__rec_item {
  margin-top: 16px;
}

.__log_reg_content {}

.__log_reg_header {
  margin-bottom: 20px;
}

.__log_reg_header h2 {
  color: #09ffa7;
  font-size: 30px;
  font-weight: 400;
  font-family: 'bd';
  margin-bottom: 10px;
}

.__log_reg_header p {
  color: #3e5178;
  font-size: 15px;
  line-height: 1.2;
}

.__tab_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.__tab_wrap li {}

.__tab_wrap li a, .__tab_wrap li span{
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  transition: all .15s ease-in;
  border-radius: 8px;
  
  cursor: pointer;
}

.__tab_wrap li a:hover, .__tab_wrap li span:hover{
  background-color: #f6f8f9;
}

.__tab_wrap li .active,
.__tab_wrap li .active:hover {
  color: #091127;
  background-color: #0effa7;
}

.__c_block {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e3eb;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
  border-radius: 8px;
}

.__m_content {
  width: 800px;
  margin: 0 auto;
}

.__page_block {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e3eb;
  border-radius: 8px;
}

.__page_block .__page_title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  padding: 16px 20px;
  border-bottom: 1px solid #e0e3eb;
}

.__page_block .__page_main_content {
  padding: 20px;
}

.__my_nft{
    
}
.__my_nft_head{
}
.__upload_img_bg{
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 3;
}
.__my_nft_cover{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}
.__my_nft_cover p{
  color: #fff;
  margin-bottom: 10px;
}
input[type='file']{
  position: absolute;
  text-indent: -999em;
  width: 100%;
  height: 100%;
  background-size: cover;
  outline: none;
  cursor: pointer;
}
.__upload_img_bg {

}
.__my_nft_pro{

}
.__my_nft_profile_img{
  position: relative;
  padding-top: 100%;
  background: #091127 url('~src/assets/images/empty_profile.png') no-repeat center center;
  background-size: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.__dmynft{
  grid-template-columns: 200px 1fr;
}
.__my_nft_profile_img::before{
  position: absolute;
  content: '';
  left: 50%;
  bottom: 25px;
  height: 40px;
  width: 40px;
  /* background: url('~src/assets/images/__file_uload_img.svg') no-repeat center center; */
  background-size: 100%;
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 2;
}
.__my_nft_profile_img  input[type='file']{
  top: 0;
}
.__d48_1{
  grid-template-columns: 48px 1fr;
}
.__d48_1 .__input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.__my_social_icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.__my_social_icon svg{
  position: relative;
  height: 20px;
  width: 20px;
  z-index: 3;
}
.__my_social_icon::before{
  position: absolute;
  content: '';
  height: 48px;
  width: 48px;
  background-color: #f3f5f6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  
  border: 1px solid #d0d5dd;
  border-right: none;
  z-index: 1;
}
.__qricon{
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  background: url('~src/assets/images/qr-code.png') no-repeat center center;
  background-size: 100%;
}
.__profile_edit{
  height: 20px;
  width: 20px;
  background: url('~src/assets/images/edit-icon.png') no-repeat center center;
  background-size: 100%;
}
.__c_item {
  padding: 40px;
}
.__c_item .p-dropdown{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d5dd;
  border-radius: 8px;
}
.__coin_list_item{
  display: grid;
  align-items: center;
  grid-template-columns: 28px 1fr;
  gap: 8px;
}
.__coin_list_item img{
  height: 28px;
  width: 28px;
}
.__c_item~.__c_item {
  border-top: 1px solid #e0e3eb;
}
.__c_i_list{
  display: flex;
  align-items: center;
}
.__c_item_c {
  position: relative;
  display: flex;
  font-size: 16px;
  font-family: 'bd';
  font-weight: 400;
  line-height: 1;
  padding: 8px 48px 8px 8px;
  border-radius: 8px;
  cursor: pointer;
}
.__c_item_c .__dfc{
  color: #737d95;
  font-size: 15px;
  line-height: 1;
  z-index: 3;
}
.__c_item_c ~ .__c_item_c{
  margin-left: 12px;
}
.__c_item_c.active .__dfc{
  color: #000;
}
.__c_item_c.active::after{
  background-color: transparent;
  border-color: #091127;
}
.__c_item_c::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f4f5;
  border-radius: 8px;
  
  z-index: 1;
}

.__c_alert_notice {
  color: #000;
  display: flex;
  padding: 16px;
  background-color: rgba(255, 0, 0, .1);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebc3c1;
}
.__c_warning_notice{
  color: #000;
  display: flex;
  padding: 16px;
  background-color: rgba(255, 184, 27, .1);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffce7e;
}
.__b_ch_addr {
  font-size: 15px;
  font-family: 'bd';
  font-weight: 400;
  line-height: 1;
  padding: 0 12px;
  overflow-x: auto;
}
.__addr_copy_group{
  display: grid;
  grid-template-columns: 1fr 44px;
  align-items: center;
  height: 44px;
  border: 1px solid #e0e3eb;
  border-radius: 8px;
}
.__c_addr_copy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-left: 1px solid #e0e3eb;
  cursor: pointer;
}

.__c_addr_copy span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.__c_addr_copy span::before,
.__c_addr_copy span::after {
  position: absolute;
  content: '';
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #616e91;
  z-index: 2;
}

.__c_addr_copy span::after {
  top: 0;
  left: 4px;
  z-index: 1;
}

.__c_addr_copy i {
  color: #fff;
  position: absolute;
  content: '';
  font-size: 12px;
  top: 50%;
  left: -10000px;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, .85);
  white-space: nowrap;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
  transform: skew(-5deg) translateY(-50%);
  transition: opacity .3s ease, transform .35s ease;
  visibility: hidden;
  opacity: 0;
}

.__c_addr_copy:hover i {
  left: calc(100% + 5px);
  visibility: visible;
  opacity: 1;
}

.__sub_title {
  color: #6b7797;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.__sub_title~.__sub_title {
  margin-top: 24px;
}

.__upload_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-width: 1px;
  border-style: dashed;
  border-color: #cbd0db;
  border-radius: 16px;
  cursor: pointer;
}

.__file_upload {
  flex-direction: column;
}

.__file_upload .__upload {
  display: flex;
  height: 50px;
  width: 50px;
  background: url('~src/assets/images/upload_icon.svg') no-repeat center center;
  background-size: 100%;
}

.__file_upload h5 {
  color: #091126;
  font-weight: 500;
  margin: 20px 0 5px;
}

.__upload_text {
  color: #9da5ba;
  text-align: center;
}

.__profile_status {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 32px;
  padding: 0 14px 0 6px;
  border-radius: 16px;
  white-space: nowrap;
  
}

.__profile_status span {
  display: flex;
  height: 20px;
  width: 20px;
  margin-right: 7px;
  background-size: 100%;
}

.__complete {
  color: #33a184;
  background-color: #d6fbf4;
}

.__complete span {
  background: url('~src/assets/images/__account_complete_icon.svg') no-repeat center center;
}

.__notcomplete {
  color: #a75151;
  background-color: #ffeded;
}

.__notcomplete span {
  background: url('~src/assets/images/__account_notcomplete_icon.svg') no-repeat center center;
}

.__review {
  color: #437BE3;
  background-color: #deeaff;
}

.__review span {
  background: url('~src/assets/images/__account_review_icon.svg') no-repeat center center;
}

.__kyc_box_item {
  cursor: pointer;
}

.__id_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #091127;
  overflow: hidden;
  z-index: 3;
  cursor: pointer;
}

.__id_item img {
  height: 200px;
  width: 100%;
}

.__id_item span {
  display: flex;
  height: 209px;
  width: 100%;
  background-size: 100%;
}

.__front span {
  /* background: url('~src/assets/images/id_front_icon.svg') no-repeat center center; */
}

.__back span {
  background: url('~src/assets/images/id_back_icon.svg') no-repeat center center;
}

.__selfie span {
  background: url('~src/assets/images/selfie_icon.svg') no-repeat center 20%;
  background-size: 50%;
}

.__kyc_box_item i {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #09ffa7;
  border-radius: 50%;
}

.__kyc_box_item i::before,
.__kyc_box_item i::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 14px;
  background-color: #091127;
}

.__kyc_box_item i::after {
  transform: rotate(90deg);
}

.__selfie {
  height: calc(100% - 30px);
}

.__selfie .__coh {
  height: 100%;
}

.__selfie .__coh img {
  position: absolute;
  content: '';
  left: 50%;
  height: 100%;
  width: auto;
  transform: translateX(-50%);
}

.__kyc_box_item label {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  display: table;
  line-height: 1;
  padding: 10px 12px 8px;
  background-color: #091127;
  z-index: 3;
}

.__kyc_box_item label span {
  position: relative;
  z-index: 3;
}

.__coh {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.__config_item {}

.__config_icon {
  height: 40px;
  width: 40px;
  background-color: #f1f3f4;
  border-radius: 8px;
}

.__config_item p {
  font-size: 16px;
  font-weight: 500;
}

.__gift_list_img {}

.__gift_img {
  width: 120px;
}

.__gift_i_img {
  width: 100%;
  overflow: hidden;
}

.__gift_img img,
.__gift_i_img img {
  width: 100%;
}

.__giftcard_detail {}

.__giftcard_detail h3 {
  font-weight: 400;
  font-family: 'bd';
}

/* Nomadic Main Style End */

/* Nomadic Giftcart Style */
.__gift_wrap {
  padding: 20px 0 0;
  margin: 0 auto;
}

.__gift_block {}

.__gift_list_item {
  position: relative;
  padding: 1px;
  width: 100%;
  transition: all .15s ease-in;
  background-color: rgba(255, 255, 255, .15);
  clip-path: polygon(100% 90%, 85% 100%, 0% 100%, 0% 62%, 0% 100%, 0% 10%, 15% 0%, 100% 0%, 100% 0, 100% 100%, 100% 50%, 100% 66%);
  overflow: hidden;
}

.__g_i_sh {}

.__trans_sh {
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  background: #fff;
  filter: blur(15px);
  animation: line_sh 7s infinite linear;
  border-radius: 50%;
}

@keyframes line_sh {
  0% {
    top: 5%;
    left: -2%;
  }

  5% {
    top: -20px;
    left: 10%;
  }

  25% {
    top: -20px;
    left: 95%;
  }

  45% {
    top: 85%;
    left: 97%;
  }

  50% {
    top: 93%;
    left: 86%;
  }

  75% {
    top: 93%;
    left: -4%;
  }

  100% {
    top: 5%;
    left: -4%;
  }
}

.__g_i_b {
  background-color: #091126;
  clip-path: polygon(100% 90%, 85% 100%, 0% 100%, 0% 62%, 0% 100%, 0% 10%, 15% 0%, 100% 0%, 100% 0, 100% 100%, 100% 50%, 100% 66%);
}

.__gift_list_item:hover {
  background-color: rgba(255, 255, 255, .3);
  transform: translateY(-5px);
}

.__gift_desc {
  position: relative;
  padding: 20px;
}

.__gift_desc::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -5px;
  width: 100%;
  height: 100px;
  background: url('~src/assets/images/item_bottom_img.png') no-repeat center center;
  pointer-events: none;
  z-index: 0;
}

.__gift_desc li {
  align-items: flex-start;
}

.__gift_desc h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  height: 54px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.__c_price_content {
  color: #687597;
  font-weight: normal;
  min-height: 60px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.__c_price {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: 'bd';
  min-width: 180px;
}

.__c_item_c .coin_img,
.__c_price span {
  display: flex;
  height: 28px;
  width: 28px;
  margin-right: 10px;
  background: url('~src/assets/images/urg_coin.webp') no-repeat center center;
  background-size: 100%;
}
.active .__is_active{
  display: block;
}
.__is_active{
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  height: 18px;
  width: 18px;
  background-color: #1ecf8d;
  transform: translateY(-50%);
  border-radius: 50%;
}
.__is_active span::before,.__is_active span::after{
  position: absolute;
  content: '';
  top: 9px;
  left: 4px;
  height: 1px;
  width: 4px;
  background-color: #fff;
  transform: rotate(45deg);
}
.__is_active span::after{
  top: 8px;
  left: 6px;
  width: 8px;
  transform: rotate(-45deg);
}
.__c_p_mnt {
  color: #687597;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin-right: 25px;
}

.__gift_valid_date {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  right: 16px;
  bottom: 16px;
  z-index: 3;
}

.__c_price p,
.__gift_valid_date p {
  display: flex;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.__gift_valid_date span {
  color: #091127;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  border-radius: 6px;
}

.__gift_valid_date span~span {
  margin-left: 4px;
}

.__gift_valid_date span span {
  display: flex;
  flex-direction: column;
  background-color: #ffc762;
  border: 1px solid #ffda94;
  height: 30px;
  width: 30px;
}

.__gift_valid_date span div {
  font-size: 10px;
}

/* Nomadic Giftcart Style End */

/* Nomadic Detail Style */
.__detail_wrap {
  padding: 40px 0;
}

.__detail_img_b {
  position: relative;
  padding: 1px;
  background-color: rgba(255, 255, 255, .15);
  overflow: hidden;
}

.__c_count {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.__c_count .__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, .1);
  transition: all .15s ease-in;
  cursor: pointer;
}
.__quantity:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.__quantity:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.__c_count .__quantity:hover {
  background-color: rgba(255, 255, 255, .2);
}

.__q_icon {
  display: flex;
  height: 16px;
  width: 16px;
  background-size: 100%;
}

.__minus {
  -webkit-mask-image: url('~src/assets/images/__quantity_minus.svg');
  background-color: #fff;
}

.__plus {
  -webkit-mask-image: url('~src/assets/images/__quantity_plus.svg');
  background-color: #fff;
}

.__c_count .__in_count {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  height: 48px;
  width: 48px;
  background: #fff;
  
  overflow: hidden;
}

.__c_x {
  color: #ffc762;
  font-weight: 500;
  margin: 0 10px 0 15px;
}

.__c_price_list {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.__c_price_list li {
  display: flex;
  align-items: center;
}

.__c_price_list li label {
  color: red;
  font-weight: normal;
}

.__c_price_list li p {
  color: #fff;
  font-family: 'bd';
  font-weight: 500;
}

.__c_count_p {}

.__c_count_p label {
  color: #626f8f;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 2px;
}
.__balance_coin{
  margin-top: 20px !important;
}
.__balance_coin,
.__current_balance {
  font-size: 18px;
  font-family: 'bd';
  font-weight: 400;
  line-height: 1;
  margin-top: 2px;
}

.__current_balance {
  font-size: 15px;
}

/* Nomadic Detail Style End */

/* Nomadic Footer Style */
.nomadic_footer {}

.__footer_wrap {}

.__footer_layout {
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  padding: 40px 0;
}

.__footer_layout_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.__footer_layout_left {
  display: flex;
  flex-direction: column;
}

.__footer_logo {
  display: flex;
  height: 32px;
  width: 120px;
  margin-bottom: 20px;
  /* background: transparent url('~src/assets/images/nolar_cashmere_brandname.svg') center center no-repeat; */
  background-size: contain;
}

.__footer_socials {}

.__social_icon {
  display: flex;
  height: 18px;
  width: 18px;
  background: transparent center center no-repeat;
  background-size: contain;
}

.__social_icon~.__social_icon {
  margin-left: 15px;
}

.__fb {
  /* background-image: url('../images/icon_fb.svg'); */
}

.__in {
  /* background-image: url('../images/icon_in.svg'); */
}

.__tw {
  /* background-image: url('../images/icon_tw.svg'); */
}

.__yt {
  /* background-image: url('../images/icon_yt.svg'); */
}

.__footer_copyrights {
  text-align: center;
  padding: 15px 0;
}

.__footer_copyrights p {
  color: #5e667a;
  font-size: 13px;
}

/* Nomadic Footer Style End */

/* Responsive Style */
@media (min-width: 1281px) {
  .wrap_container {
    width: 1200px;
  }
}

@media (max-width: 1281px) {
  .wrap_container {
    width: 980px;
  }

  .__gift_block {
    grid-template-columns: repeat(3, 1fr);
  }

  .__gift_list_item {
    width: 100%;
  }
}

@media (max-width: 1021px) {
  .wrap_container {
    width: 820px;
  }

  .__detail_wrap .__g2 {
    grid-template-columns: 1fr;
  }

  .__gift_block {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 861px) {

  .wrap_container,
  .__m_content {
    width: 100%;
    padding: 0 20px;
  }

  .__m_content {
    padding: 0;
  }
}

@media (max-width: 768px) {

  .wrap_container,
  .__m_content {
    padding: 0 16px;
  }

  .__m_content {
    padding: 0;
  }

  .__g2,
  .__bank_list, .__g3{
    grid-template-columns: 1fr;
  }

  .__selfie span {
    height: 350px;
    background-size: 30%;
  }

  .__in_gift_box p {
    font-size: 60px;
  }

  .__valid_tooltip {
    position: relative;
    top: 0;
    left: 0;
    transform: skew(0);
  }

  .__c_item {
    padding: 20px;
  }
  .__tab_wrap{
    flex-direction: column;
  }
  .__bank_item{
    flex-direction: row;
  }
  .__bank_img{
    margin-right: 10px;
    margin-bottom: 0;
  }
  .__balance_box{
    padding: 10px;
  }
  .__balance_eye{
    height: 32px;
    width: 32px;
    right: 10px;
  }
}

@media (max-width: 640px) {
  .__hr_l_item~.__hr_l_item {
    margin: 0;
  }

  .__gift_block, .__dmynft{
    grid-template-columns: 1fr;
  }

  .__gift_list_item {
    margin: 0 auto;
  }

  .__login a p,
  .__register a p {
    display: none;
  }

  .__header_logo {
    margin: 0;
  }

  .__login a {
    padding: 0 10px;
  }

  .__login .__icon {
    margin: 0;
  }

  .__page_content {
    padding: 20px 0;
  }

  .__min_container {
    width: 100%;
    padding: 20px;
  }

  .__dialog_wrap {
    width: 90vw;
  }

  .__c_block {
    width: calc(100vw - 32px);
  }

  .__detail_main_f .__dfjs {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .__gift_valid_date {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 16px;
  }

  .__page_content_title {
    flex-direction: column;
  }

  .__page_content_title {
    align-items: flex-start;
  }

  .__page_header h2 {
    font-size: 24px;
  }

  .__btn {
    padding: 0 15px;
  }

  .__g4_1,
  .__g1_180 {
    grid-template-columns: 1fr;
  }
}

/* Responsive Style End */
