.__detail_login {
  .__min_container {
    margin: 0 !important;
  }
}

.width_fix {
  padding: 0 !important;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {

  100%,
  0% {
    stroke: #16697A;
  }

  40% {
    stroke: #489FB5;
  }

  66% {
    stroke: #82C0CC;
  }

  80%,
  90% {
    stroke: #FFA62B;
  }
}

.__is_load_time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .__title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
  }

  .__desc {
    padding-top: 9px;
    color: #4e4a4a;
  }
}

.__disabled {}
