<div class="__detail_wrap wrap_container">
  <div class="__dg __g2 __gap4">
    <div class="__detail_lb">
      <div class="__detail_img_b">
        <span class="__trans_sh"></span>
        <div class="__image_block">
          <div class="__img_m"><img [src]="IMG_PATH + card?.photo" /></div>
        </div>
      </div>
    </div>
    <div class="__detail_rb">
      <div class="__detail_content">
        <div class="__detail_header">
          <h1>{{ card?.name }}</h1>
        </div>
        <div class="__detail_main">
          <div class="__detail_main_f">
            <div class="__dfjs">
              <div class="__c_count_p">
                <div class="__c_price">
                  <p>Үнэ</p>
                  <div class="__dfc">
                    <span></span>
                    <div>
                      <div class="__detail_price" *ngFor="let item of card.prices">{{ item.price | number}} {{item.symbol}}</div>
                      <!-- <p-dropdown [options]="country" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                      </p-dropdown> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="__gift_valid_date">
                <p>Дуусах хугацаа</p>
                <div class="__dfc">
                  <countdown [config]=" config "></countdown>
                </div>
              </div>
            </div>
            <ul class="__c_price_list">
              <li class="__dfjs">
                <div>
                  <label>Боломжит үлдэгдэл:</label>
                  <p>{{ isAuth ? (userUrgBalance | number) : '- - -' }} URG</p>
                </div>
                <p>1 URG ≈ {{ urgDaxVal/100 }}₮</p>
              </li>
            </ul>
          </div>
          <div class="__w10">
            <div class="__dfc">
              <div class="__c_count">
                <div class="__quantity" (click)="minusUrg()"><span class="__q_icon __minus"></span></div>
                <input type="text" placeholder="0" min="1" (input)="checkCardCount()" [(ngModel)]="cardCount"
                  contenteditable="true" class="__dfcc countInput">
                <div class="__quantity" (click)="plusUrg()"><span class="__q_icon __plus"></span></div>
              </div>
              <button type="button" class="__btn __primary __buy_btn __w10" (click)="showDialog()"
                *ngIf="!isNotYet && !isGiftExpire && card?.availableCount > 0">
                <span>{{ (selectedCurrency.price * cardCount ) | number}} URG</span>Авах
              </button>
              <button type="button" class="__btn __primary __buy_btn __w10"
                *ngIf="!isNotYet && !isGiftExpire && card?.availableCount === 0">
                Тасалбар дууссан байна.
              </button>
              <button type="button" class="__btn __primary __buy_btn __w10" *ngIf="!isNotYet && isGiftExpire">Хугацаа
                дууссан байна.</button>
              <button type="button" class="__btn __primary __buy_btn __w10" *ngIf="isNotYet && !isGiftExpire">Тун
                удахгүй...</button>
            </div>
          </div>
          <div class="__detail_main_c">
            <p>{{ card?.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [closable]="isDialogShow">
  <div class="__dialog_wrap" [ngClass]="{'width_fix': !isAuth}">
    <div class="__dialog_block" *ngIf="isAuth">
      <div *ngIf="!isBuyTime">
        <div class="__dialog_header">
          <h3>Худалдан авах</h3>
        </div>
        <div class="__dialog_main">
          <h4>Та<span>{{ card?.name }}</span>авлаа</h4>
          <div class="__c_alert_notice __dt_warn">
            <p>Санамж: Та энэхүү бэлгийн картыг худалдан авсан тохиолдолд буцаан олголт хийгдэхгүй болохыг анхаарна уу!
              Хэрвээ та авахдаа итгэлтэй байгаа бол АВАХ товчийг дарж үргэлжлүүлнэ үү!</p>
          </div>
          <ul>
            <li><label>Нийт үнэ:</label>
              <p *ngFor="let item of card.prices">{{ (item.price * cardCount) | number }} {{ item.symbol }}</p>
            </li>
            <li><label>Төлсний дараах таны үлдэгдэл:</label>
              <p *ngFor="let item of card.prices"> {{
                (userUrgBalance -  ((item.price * cardCount))) > 0
                ? (userUrgBalance - (item.price * cardCount) | number)
                : 'Боломжит үлдэгдэл хүрэлцэхгүй байна.' }} {{ item.symbol }}</p>
            </li>
          </ul>
        </div>
        <div class="__dialog_footer">
          <div class="__dg __g2 __gap2">
            <button type="button" class="__btn __default" (click)="hideDialog()">Үгүй</button>
            <button type="button" class="__btn __primary" (click)="buyGift()">Тийм</button>
          </div>
        </div>
      </div>
      <div class="__is_load_time" *ngIf="isBuyTime">
        <p-progressSpinner></p-progressSpinner>
        <span class="__title">Та түр хүлээнэ үү</span>
        <span class="__desc">Захиалгыг бүртгэх явц явагдаж байна.</span>
      </div>
    </div>
    <div class="__dialog_block __detail_login" *ngIf="!isAuth">
      <div class="__min_container">
        <div class="__log_reg_content">
          <button class="__dialog_circle_close" (click)="hideDialog()"><i class="pi pi-times"></i></button>
          <div class="__log_reg_header">
            <h2>Та нэвтрэх шаардлагатай</h2>
          </div>
          <div class="__log_reg_main">
            <form [formGroup]="loginForm">
              <div class="__form_item">
                <label class="__label">Утасны дугаар</label>
                <input type="email" formControlName="username" class="__input" placeholder="" />
              </div>
              <div class="__form_item">
                <label class="__label">Нууц үг</label>
                <input type="password" formControlName="password" class="__input" placeholder="" />
              </div>
              <div class="__btn_item">
                <a><button type="button" (click)="login()" class="__btn __primary">Нэвтрэх</button></a>
              </div>
            </form>
            <div class="__form_content">
              <a routerLink="/forgot">Нууц үг мартсан</a>
              <a routerLink="/register">Бүртгүүлэх</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
