<div class="__page_content">
  <div class="__m_content">
    <h3 class="__page_content_title __dfjs">URG худалдаж авах<a href=""><span></span></a></h3>
    <div class="__c_block __dg">
      <div class="__c_item">
        <form>
          <div class="__form_item">
            <label class="__label">Зарлага гаргах данс</label>
            <p-dropdown [options]="myBanks" [(ngModel)]="selectedBank" [ngModelOptions]="{standalone: true}"
              placeholder="Данс сонгох">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedBank">
                  <div>{{selectedBank.bankName }} - {{ selectedBank.accountNo }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item" (click)="selectBank(item)">
                  <div>{{item.bankName}} - {{ selectedBank.accountNo }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="__form_item">
            <label class="__label">Зарлагын гаргах хэмжээ</label>
            <input type="number" class="__input" [(ngModel)]="fiatAmount" (input)="mntCount($event)" name="fiatAmount" placeholder="0.00" />
          </div>
          <div class="__form_item">
            <label class="__label">URG Худалдаж авах хэмжээ</label>
            <input type="number" class="__input" [(ngModel)]="urgAmount" (input)="urgCount($event)" name="urgAmount" placeholder="0.00" />
          </div>
          <div class="__dg __g2 __mt3 __with_updown_wrap">
            <div class="__with_updown_item">
              <div class="__dg __g24_1 __gap1">
                <span class="__icon __up"></span>
                <div class="">
                  <label class="__label">Шимтгэл</label>
                  <h4>{{ selectedBank.withdrawFee ? selectedBank.withdrawFee : 0 }}</h4>
                </div>
              </div>
            </div>
            <div class="__with_updown_item">
              <div class="__dg __g24_1 __gap1">
                <span class="__icon __down"></span>
                <div class="">
                  <label class="__label">Таны авах дүн</label>
                  <h4>{{ (fiatAmount - selectedBank.withdrawFee) > 0 ? fiatAmount - selectedBank.withdrawFee : 'Шимтгэлээс бага хэмжээний дүн байна' }}</h4>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="__w10 __mt2_4 __dfce">
          <button type="button" class="__btn __primary" 
            (click)="showFiatDialog()">Худалдаж авах</button>
        </div>
      </div>
    </div>

  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-dialog header="Баталгаажуулах" [(visible)]="displayDialog" [draggable]="false" [style]="{width: '500px'}">
  <input type="password" [(ngModel)]="userPassword" class="__input" placeholder="Нууц үгээ оруулна уу" />
  <div class="__c_alert_notice __dt_warn">
    <p>Та Зарлага гаргахдаа итгэлтэй байна уу. Таны шилжүүлж буй хаяг буруу бол та өөрийн URG өө алдах эрсдэлтэй. Үүнийг
      NOMADX хариуцахгүй.</p>
  </div>
  <button type="button" class="__btn __primary __space_top_14px" (click)="sendBuyReq()">Илгээх</button>
  <div class="__regist_foot">
  </div>
</p-dialog>
