<div class="__main_wrapper">
  <div class="wrap_container">
      <div class="__min_container">
          <div class="__log_reg_content">
              <div class="__log_reg_header">
                  <h2>Нууц үг сэргээх</h2>
                  <p>Та бүртгэлтэй утасны дугаараа оруулна уу. Нууц үгээ сэргээхэд тань туслах болно.</p>
              </div>
              <div class="__log_reg_main">
                  <form [formGroup]="forgotForm">
                      <div class="__form_item">
                          <label class="__label">Утасны дугаар</label>
                          <input type="text" formControlName="phone" class="__input" placeholder="" />
                          <div class="__help_error" *ngIf="forgotForm.controls['phone'].invalid && forgotForm.controls['phone'].value !== ''">Та утасны дугаараа шалгана уу</div>
                      </div>
                      <div class="__btn_item">
                          <button type="button" (click)="forgot()" [disabled]="forgotForm.controls['phone'].invalid" class="__btn __primary __w10">Илгээх</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
