<div class="__market_slider" [ngStyle]="{'height.px': markStyle}">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let banner of banners">
        <div class="__slider_item" [ngStyle]="{'height.px': markStyle}"
        [style.background-image]="'url(' + IMG_PATH + banner?.imageUuid + ')'"></div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div #currentWrap>
  <div class="wrap_container">
    <section *ngFor="let cat of nftCats">
      <h3 class="__page_title">{{ cat.name }}</h3>
      <div class="__page_box">
        <div class="__page_box_main">
          <div class="__dg __g3 __gap2_4">
            <ng-container *ngFor="let item of cat.nfts; let i=index">
              <a [routerLink]="['/nft/detail', item.bsId, item.code ]" class="__box_item"
              [ngClass]="{'__closed': calculateDate(item.start_date, item.end_date) === 'closed' }" [class.many]="item.type === 'OPEN_EDITION'">
                <div class="__box_i_head">
                  <div class="__box_status"
                    [ngClass]="{'__open': calculateDate(item.start_date, item.end_date) === 'active', 
                    '__soon': calculateDate(item.start_date, item.end_date) === 'soon',
                    '__closed': calculateDate(item.start_date, item.end_date) === 'closed' }">
                    {{ calculateDate(item.start_date, item.end_date) === 'active' ? 'Нээлттэй' : calculateDate(item.start_date, item.end_date) === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
                  </div>
                  <div class="__img_box">
                    <div class="__img_box_content" [ngStyle]="{backgroundImage: 'url(' + IMG_PATH + item.photo + ')'}">
                    </div>
                  </div>
                </div>
                <div class="__box_i_main">
                  <h2 class="__box_title">{{ item.name }}</h2>
                  <div class="__box_price">
                    <label>Үнэ</label>
                    <span *ngFor="let price of item.prices">{{ price.price | number}}<i>{{ price.symbol }}</i></span>
                  </div>
                  <div class="__box_im_f">
                    <div class="__like_share __like"><span></span>{{ item.likes }}</div>
                    <div class="__like_share __share"><span></span> {{ item.shares }}</div>
                  </div>
                  <div class="__box_im_c __dfjs">
                    <label>Зохиогч</label>
                    <div class="__dfc __aic">
                      <div class="__creat_img">
                        <img [src]="IMG_PATH + item.creator.picture" />
                      </div>
                      <div class="__creat_name">{{ item.creator.nickname }}</div>
                    </div>
                  </div>
                </div>
                <div class="__item_shadow"></div>
                <div class="__item_shadow __rear"></div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
