<div class="__page_content">
    <div class="__m_content">
        <div class="__balance_box __mb1_6">
            <div class="__balance_eye" [class.hide]="!isShow" (click)="totalBalance()"><span></span></div>
            <div class="__dg __g24_1 __gap1">
              <div class="__icon __wallet_icon"></div>
              <div class="__c_count_p">
                <label>Нийт үлдэгдэл</label>
                <h4>
                  <p class="__balance_coin">{{isShow ? (balanceToMNT | number) : '****'}} MNT / {{isShow ? (balanceToURG | number) : '****'}} URG</p>
                </h4>
              </div>
            </div>
        </div>
      <h3 class="__page_content_title __dfjs">Үлдэгдэл</h3>
      <div class="__c_block">
        <div class="__table_wrap">
          <table class="__table">
            <thead>
              <tr>
                <th>Вальют</th>
                <th>Нэр</th>
                <th>Үлдэгдэл</th>
                <th>Үйлдэл</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userBalance">
                <td>
                    <div class="__balance_name __dfc">
                        <img class="__balance_img" [src]="currentIcon(item.code)" />
                        <h4>{{ (item.code === 'MNT') ? item.code : item.symbol }}</h4>
                    </div>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ (item.code === 'MNT') ? item.balance : item.available }}</td>
                <td>
                    <div class="__dfc">
                        <a routerLink="/wallet/income/{{item.code}}" class="__balance_status up"><span></span>Орлого</a>
                        <a routerLink="/wallet/withdraw/{{item.code}}" class="__balance_status down"><span></span>Зарлага</a>
                    </div>
                </td>
              </tr>

              <tr *ngFor="let item of userFiat">
                <td>
                    <div class="__balance_name __dfc">
                        <img class="__balance_img" [src]="currentIcon(item.code)" />
                        <h4>{{ item.code }}</h4>
                    </div>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.balance }}</td>
                <td>
                    <div class="__dfc">
                        <a routerLink="/wallet/income/{{item.code}}" class="__balance_status up"><span></span>Орлого</a>
                        <a routerLink="/wallet/withdraw/{{item.code}}" class="__balance_status down"><span></span>Зарлага</a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  