<div class="__gift_wrap wrap_container">
  <h2 class="__section_title __mt4">Бэлгийн карт</h2>
  <app-shimming *ngIf="gifts.length === 0"></app-shimming>
  <div class="__gift_block __dg __g4 __gap2">
    <a [routerLink]="['../detail', item.id]" class="__gift_list_item" *ngFor="let item of gifts">
      <div class="__g_i_sh">
        <span class="__trans_sh"></span>
        <div class="__g_i_b">
          <div class="__image_block">
            <div class="__gift_valid_date __pa">
              <div class="__dfc">
                <countdown [config]=" getDateConfig(item) "></countdown>
              </div>
            </div>
            <div class="__img_m"><img [src]="IMG_PATH + item?.photo" /></div>
          </div>
          <div class="__gift_desc">
            <h3>{{ item.name }}</h3>
            <ul>
              <li class="__dg __g1 __gap1_6">
                <p class="__c_price_content __hider">{{ item.description }}</p>
                <div class="__c_price">
                  <div class="__dfc">
                    <span *ngIf="item.type === 'DEFAULT'"></span>
                    <div>
                      <div>{{ currentPrice(item) }} {{ currentSymbol(item) }}</div>
                      <div class="__c_p_mnt">≈ {{ item.fiatBalance }}{{ item.fiatSymbol }}</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="urg_pagination" *ngIf="totalData > 0">
    <p-paginator [rows]="8" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
