.__img_m{
    width: 100% !important;
    height: 250px !important;
}
.__title_shime{
    width: 50%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.__c_price_content{
    height: 30px !important;
    min-height: 40px !important;
    margin-bottom: 14px;
    border-radius: 8px;
}
.__shime_logo{
    border-radius: 50%;
}
.__gift_desc::after{
    background: none;
}