<div class="__gift_block __dg __g4 __gap2">
    <a class="__gift_list_item">
        <div class="__g_i_sh">
          <span class="__trans_sh"></span>
          <div class="__g_i_b">
            <div class="__image_block">
              <div class="__gift_valid_date __pa">
                <div class="__dfc">
    
                </div>
              </div>
              <div class="__img_m urg-shimmer"></div>
            </div>
            <div class="__gift_desc">
              <h3 class="__title_shime urg-shimmer"></h3>
              <ul>
                <li class="__dg __g1 __gap1_6">
                  <p class="__c_price_content __hider urg-shimmer"></p>
                  <div class="__c_price">
                    <div class="__dfc">
                      <span class="__shime_logo urg-shimmer"></span>
                      <div>
                        <div class="urg-shimmer"></div>
                        <div class="__c_p_mnt urg-shimmer"></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </a>
      <a class="__gift_list_item">
        <div class="__g_i_sh">
          <span class="__trans_sh"></span>
          <div class="__g_i_b">
            <div class="__image_block">
              <div class="__gift_valid_date __pa">
                <div class="__dfc">
    
                </div>
              </div>
              <div class="__img_m urg-shimmer"></div>
            </div>
            <div class="__gift_desc">
              <h3 class="__title_shime urg-shimmer"></h3>
              <ul>
                <li class="__dg __g1 __gap1_6">
                  <p class="__c_price_content __hider urg-shimmer"></p>
                  <div class="__c_price">
                    <div class="__dfc">
                      <span class="__shime_logo urg-shimmer"></span>
                      <div>
                        <div class="urg-shimmer"></div>
                        <div class="__c_p_mnt urg-shimmer"></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </a>
      <a class="__gift_list_item">
        <div class="__g_i_sh">
          <span class="__trans_sh"></span>
          <div class="__g_i_b">
            <div class="__image_block">
              <div class="__gift_valid_date __pa">
                <div class="__dfc">
    
                </div>
              </div>
              <div class="__img_m urg-shimmer"></div>
            </div>
            <div class="__gift_desc">
              <h3 class="__title_shime urg-shimmer"></h3>
              <ul>
                <li class="__dg __g1 __gap1_6">
                  <p class="__c_price_content __hider urg-shimmer"></p>
                  <div class="__c_price">
                    <div class="__dfc">
                      <span class="__shime_logo urg-shimmer"></span>
                      <div>
                        <div class="urg-shimmer"></div>
                        <div class="__c_p_mnt urg-shimmer"></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </a>
      <a class="__gift_list_item">
        <div class="__g_i_sh">
          <span class="__trans_sh"></span>
          <div class="__g_i_b">
            <div class="__image_block">
              <div class="__gift_valid_date __pa">
                <div class="__dfc">
    
                </div>
              </div>
              <div class="__img_m urg-shimmer"></div>
            </div>
            <div class="__gift_desc">
              <h3 class="__title_shime urg-shimmer"></h3>
              <ul>
                <li class="__dg __g1 __gap1_6">
                  <p class="__c_price_content __hider urg-shimmer"></p>
                  <div class="__c_price">
                    <div class="__dfc">
                      <span class="__shime_logo urg-shimmer"></span>
                      <div>
                        <div class="urg-shimmer"></div>
                        <div class="__c_p_mnt urg-shimmer"></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </a>
</div>
