<div class="__main_wrapper">
  <div class="__page_wrap">
      <div class="__page_header">
            <h2>Хэтэвч</h2>
      </div>
      <div class="__page_main">
          <div class="wrap_container">
                <ul class="__tab_wrap">
                    <li><a routerLink="balance" (click)="activeTab(1)" [ngClass]="{'active': active === 1}">Үлдэгдэл</a></li>
                    <li><a routerLink="card" (click)="activeTab(5)" [ngClass]="{'active': active === 5}">Бэлгийн карт</a></li>
                    <li><a routerLink="income" (click)="activeTab(2)" [ngClass]="{'active': active === 2}">Орлого</a></li>
                    <li><a routerLink="withdraw" (click)="activeTab(3)" [ngClass]="{'active': active === 3}">Зарлага</a></li>
                    <!-- <li><a routerLink="buy" (click)="activeTab(6)" [ngClass]="{'active': active === 6}">Худалдаж авах</a></li> -->
                    <li><a routerLink="history" (click)="activeTab(4)" [ngClass]="{'active': active === 4}">Орлого ба зарлагын түүх</a></li>
                </ul>
                <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
