.__img_sec input[type='file'] {
  text-indent: -999em;
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.__img_sec {
  cursor: pointer;
}

.__id_item .__front {
  cursor: pointer;
}

.none_point{
  pointer-events: none !important;
}
.__current_space{
  padding: 20px;
}
.__divider{
  margin: 40px 0;
  height: 1px;
  background: #e0e3eb;
}