<div class="__page_content">
  <div class="__m_content">
    <!-- <h3 class="__page_content_title">Хэтэвчний үлдэгдэл</h3>
    <div class="__dg">
      <div class="__page_block">
        <div class="__page_main_content">
          <div class="__dg __g24_1 __gap1">
            <div class="__icon __wallet_icon"></div>
            <div class="__c_count_p">
              <label>Хэрэглэгчийн үлдэгдэл</label>
              <div *ngIf="userBalanceInfo.length === 0">
                <span>Таньд зарлага гаргах үлдэгдэл алга</span>
              </div>
              <ul class="__c_i_list"  *ngIf="userBalanceInfo.length > 0">
                <li class="__c_item_c" (click)="selectCoin(item)" [ngClass]="{'active': selectedCoin.code === item.code}" *ngFor="let item of userBalanceInfo">
                  <div class="__dfc">
                    <div class="coin_img"></div>{{ item.name }}
                  </div>
                  <div class="__is_active"><span></span></div>
                </li>
              </ul>

              <h4>
                <p class="__balance_coin">
                  {{ isAddressCreated ? (selectedCoin?.available | number) : 0 }}</p><span
                  class="__current_balance">{{ selectedCoin?.symbol }}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="__prof_info __mt3">
      <h3 class="__page_content_title __step __dfjs">Хэрэглэгчийн баталгаажуулалт
        <div class="__profile_status __complete __dfc" *ngIf="user?.statusCode === 2"><span></span>Баталгаажсан</div>
        <div class="__profile_status __notcomplete __dfc" *ngIf="user?.statusCode === 0"><span></span>Баталгаажаагүй
        </div>
        <div class="__profile_status __review __dfc" *ngIf="user?.statusCode === 1"><span></span>Хянагдаж байгаа</div>
      </h3>
      <div class="__c_warning_notice __mb1_6" *ngIf="user?.statusCode !== 2">
        <p>Иргэний үнэмлэхний зураг /урд тал/ {{ user?.idFrontConfirmedStatusText }}</p><br>
        <p>Иргэний үнэмлэхний зураг /хойд тал/ {{ user?.idBackConfirmedStatusText }}</p><br>
        <p>Баримт бичгээ гартаа барьсан сельфи зураг: {{ user?.selfieWithIdConfirmedStatusText }}</p>
      </div>
      <div class="__page_block">
        <div class="__page_main_content">


          <!-- <h3 class="__page_content_title __step" *ngIf="user?.statusCode === 0">Зураг баталгаажуулах</h3> -->

          <div class="__dg __g2 __gap2" *ngIf="user?.statusCode === 0">
            <div class="__file_upload_kyc">
              <div class="__kyc_box_item">
                <label><span>Иргэний үнэмлэхний зураг /урд тал/</span></label>
                <div class="__id_item __front" id="front_ID">
                  <span style="background-image: url({{frontIMG}}); background-repeat: no-repeat; background-position: center;">
                    <div class="__img_sec">
                      <input type="file" [disabled]="isKYC1 && isKYC2 && isKYC3" name="front_id_img" id="__front_choosen_IMG" (change)="uploadFiles($event)">
                    </div>
                  </span>
                  <i class="__dfcc none_point" *ngIf="!isKYC1 && !isKYC2 && !isKYC3"></i>
                </div>
              </div>
              <div class="__kyc_box_item __mt2">
                <label><span>Иргэний үнэмлэхний зураг /хойд тал/</span></label>
                <div class="__id_item __front" id="back_ID">
                  <span style="background-image: url({{backIMG}}); background-repeat: no-repeat; background-position: center;">
                    <div class="__img_sec">
                      <input type="file" [disabled]="isKYC1 && isKYC2 && isKYC3" id="__back_choosen_IMG" (change)="uploadFilesBack($event)">
                    </div>
                  </span>
                  <i class="__dfcc none_point" *ngIf="!isKYC1 && !isKYC2 && !isKYC3"></i>
                </div>
              </div>
            </div>
            <div class="__kyc_box_item">
              <label><span>Баримт бичгээ гартаа барьсан сельфи зураг оруулна уу</span></label>

              <div class="__id_item __selfie" id="selfea_ID">
                <div class="__coh __dfcc">
                <span style="background-image: url({{selfieIMG}}); background-repeat: no-repeat; background-position: center;">
                  <div class="__img_sec">
                    <input type="file" [disabled]="isKYC1 && isKYC2 && isKYC3" id="__selfie_choosen_IMG" (change)="uploadSelfieBack($event)">
                  </div>
                </span>
                <i class="__dfcc none_point" *ngIf="!isKYC1 && !isKYC2 && !isKYC3"></i>
              </div>
            </div>
            </div>
          </div>
          <!-- <div class="__dfce __mt2">
            <button type="button"  class="__btn __primary" (click)="sendIdImg()">Өөрийгөө баталгаажуулах</button>
          </div> -->

          <div class="__divider" *ngIf="user?.statusCode === 0"></div>

          <form [formGroup]="infoForm">
            <div class="__dg __g2 __gap_col2">
              <div class="__form_item">
                <label class="__label">Регистрийн дугаар</label>
                <input type="text" formControlName="regNo" class="__input" placeholder="" />
              </div>
              <div class="__form_item">
                <label class="__label">Овог</label>
                <input type="text" formControlName="lastName" class="__input" placeholder="" />
              </div>
              <div class="__form_item">
                <label class="__label">Нэр</label>
                <input type="text" formControlName="firstName" class="__input" placeholder="" />
              </div>
            </div>
            <div class="__dfce">
              <button type="button" [disabled]="infoForm.invalid" (click)="sendIdImg()" *ngIf="user?.statusCode === 0"
                class="__btn __primary">Хувийн мэдээлэл хадгалах</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
