<div class="__page_content">
  <div class="__m_content">
    <h3 class="__page_content_title">Орлого</h3>
    <div class="__c_block __dg">
      <div class="__c_item">
        <label class="__label">Орлого оруулах</label>
        <!-- <ul class="__c_i_list">
          <li class="__c_item_c" (click)="selectCoin(item)" [ngClass]="{'active': selectedCoin.code === item.code}"
            *ngFor="let item of userCoins">
            <div class="__dfc">
              <div class="coin_img"></div>{{ item.name }}
            </div>
            <div class="__is_active"><span></span></div>
          </li>
        </ul> -->
        <p-dropdown [options]="userCoins" [(ngModel)]="selectedCity" optionLabel="name">
          <ng-template pTemplate="selectedItem">
            <div class="__coin_list_item country-item-value" *ngIf="selectedCity">
                <img [src]="currentIcon(selectedCity.code)"/>
                <div>{{selectedCity.name}}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
              <div class="__coin_list_item" (click)="selectCoin(country)">
                  <img [src]="currentIcon(country.code)" />
                  <div>{{country.name}}</div>
              </div>
          </ng-template>
        </p-dropdown>
        <div class="__dg  __mt3">
          <div class="__page_block">
            <div class="__page_main_content">
              <div class="__dg __g3 __gap2">
                <div class="__dg __g24_1 __gap1">
                  <div class="__icon __wallet_icon"></div>
                  <div class="__c_count_p">
                    <label>Нийт үлдэгдэл</label>
                    <h4>
                      <p class="__balance_coin">
                        {{ isAddressCreated ? (selectedCoinBalance | number) : 0 }}</p><span
                        class="__current_balance">{{ (selectedCoin?.code === 'MNT') ? selectedCoin?.code : selectedCoin?.symbol }}</span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="__c_item">
        <div class="__c_alert_notice">
          <p *ngIf="!isShowMNT">Буруу сүлжээгээр эсвэл хаягаа буруу шилжүүлсэн гүйлгээг NOMADX хариуцахгүй тул та доорх анхааруулга
            хэсэгтэй сайтар танилцана уу!</p>
          <p *ngIf="isShowMNT">Та хэтэвчиндээ орлого хийхдээ гүйлгээний утга дээр зөвхөн утасны дугаар, регистрийн дугаараа алдаагүйгээр зөв бичиж шилжүүлнэ үү.
            <br>
            Хэрэв гүйлгээний утгыг буруу бичиж шилжүүлсэн тохиолдолд таны орлого орох боломжгүй бөгөөд 72 цагийн дотор орлогыг анх шилжүүлсэн данс руу буцаан шилжүүлэхийг анхаарна уу!</p>
        </div>
        <div class="__mt2_4">
          <div *ngIf="isShowMNT">
            <h3>Банкны дансаар</h3>
            <div class="__mb2_4">
               <div class="__bank_list __dg __g4 __gap2_4">
                <div class="__bank_item active">
                  <div class="__bank_img"><img src="../../../../assets/images/golomt_bank.svg" /></div>
                  <p>Голомт банк</p>
                </div>
              </div>
              <div class="__bank_content">
                <ul>
                  <li class="__dfjs __aic">
                    <div class="__bank_c_cont">
                      <label>Дансны дугаар</label>
                      <p>{{ banks?.banks[0].accountNo }}</p>
                    </div>
                    <div ngxClipboard [cbContent]="banks?.banks[0].accountNo" (click)="copyAlert()" class="__copy __dfc"><span></span>Хуулах</div>
                  </li>
                  <li class="__dfjs __aic">
                    <div class="__bank_c_cont">
                      <label>Дансны нэр</label>
                      <p>{{ banks?.banks[0].accountName }}</p>
                    </div>
                    <div ngxClipboard [cbContent]="banks?.banks[0].accountName" (click)="copyAlert()"  class="__copy __dfc"><span></span>Хуулах</div>
                  </li>
                  <li class="__dfjs __aic">
                    <div class="__bank_c_cont">
                      <label>Гүйлгээний утга</label>
                      <p>{{ banks?.statement }}</p>
                    </div>
                    <div ngxClipboard [cbContent]="banks?.statement" (click)="copyAlert()" class="__copy __dfc"><span></span>Хуулах</div>
                  </li>
                </ul>
              </div>
            </div>
            
            </div>
            <div *ngIf="!isShowMNT">
              <div class="__addr_copy_group">
                <h2 class="__b_ch_addr">{{ isAddressCreated ? userBalanceInfo?.address : 'Хаяг хоосон байна' }}</h2>
                <div ngxClipboard [cbContent]="userBalanceInfo?.address" (click)="copyAlert()" class="__c_addr_copy"><span class="__icon"></span><i>Хаягийг хуулах</i></div>
              </div>
              <qrcode *ngIf="isAddressCreated" [qrdata]="userBalanceInfo?.address" [width]="256"
                [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </div>
      </div>
    </div>
    <h3 class="__page_content_title __dfjs">Сүүлд хийсэн орлогын түүх<a routerLink="../history"><span></span>Бүх түүхийг
        харах</a></h3>
    <div class="__c_block">
      <div class="__table_wrap">
        <table class="__table">
          <thead>
            <tr>
              <th>Огноо</th>
              <th>Вальют</th>
              <th>Хэмжээ</th>
              <!-- <th>Төлөв</th> -->
              <th>Мэдээлэл</th>
            </tr>
          </thead>
          <tbody *ngIf="isShowMNT === false">
            <tr *ngFor="let item of walletInsList">
              <td>{{ item.createdDate }}</td>
              <td>{{ historySymbol }}</td>
              <td>{{ item.amount | number }}</td>
              <!-- <td><span class="__status" [ngClass]="{'__confirm': item.status === 1,
                '__waiting': item.status === 0}">{{ item.statusText }}</span></td> -->
              <td>{{ item.from }}</td>
            </tr>
            <tr *ngIf="walletInsList.length === 0">
              <td colspan="5" style="text-align: center;">Түүх хоосон</td>
            </tr>
          </tbody>
          <tbody *ngIf="isShowMNT === true">
            <tr *ngFor="let item of userFiatHistory">
              <td>{{ item.created_date }}</td>
              <td>{{ item.currency }}</td>
              <td>{{ item.amount | number }}</td>
              <td></td>
            </tr>
            <tr *ngIf="userFiatHistory.length === 0">
              <td colspan="5" style="text-align: center;">Түүх хоосон</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="urg_pagination __black" *ngIf="totalData > 0 && isShowMNT === false">
      <p-paginator [rows]="10" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
    </div>
    <div class="urg_pagination __black" *ngIf="totalMNT > 0 && isShowMNT === true">
      <p-paginator [rows]="10" [totalRecords]="totalMNT" (onPageChange)="historyPage($event)"></p-paginator>
    </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
