<div class="__nft_secion">
    <div class="" #imageWrap>
        <div class="__page_head">
            <div class="__cc_head" [ngStyle]="{'height.px': markStyle}">
              <div class="__cc_h_img __aacimg " [style.background-image]="'url(' + IMG_PATH + user?.coverPhoto + ') !important'"></div>
            </div>
        </div>
        <div class="wrap_container">
            <div class="__cc_main">
                <div class="__dg __cc_col">
                    <div class="__cc_content">
                    <div class="__cc_profile_b" [style.background-image]="'url(' + IMG_PATH + user?.profilePictureMd + ') !important'">
                        <!-- <img [src]="IMG_PATH + creatorInfo?.photo" /> -->
                    </div>
                    <h1>{{ user?.nickname }}</h1>
                    <div class="__dfc">
                        <a routerLink="/profile/general" class="__btn __primary __mr1"><span class="__profile_edit"></span></a>
                        <!-- <div class="__btn __primary __less_btn" (click)="showDialog()"><span class="__qricon"></span><span class="__token_address">{{ isAddressCreated }}</span></div> -->
                    </div>
                    </div>
                    <div class="__cc_list">
                        <div class="__tab_wrap __mt3">
                            <div class="__tab_head">
                                <div class="__tab_item" [ngClass]="{'active': active === 'collectibles'}" (click)="tabItem('collectibles')">Цуглуулсан</div>
                                <div class="__tab_item" [ngClass]="{'active': active === 'created'}" (click)="tabItem('created')">Үүсгэсэн</div>
                            </div>
                            <div class="__tab_main">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [closable]="isDialogShow">
    <div class="__dialog_wrap">
      <div class="__dialog_block">
        <div class="__dialog_header">
          <h3>Миний NFT хэтэвчний хаяг</h3>
        </div>
        <div class="__dialog_main">
            <qrcode [qrdata]="isAddressCreated" [width]="256"
            [errorCorrectionLevel]="'M'"></qrcode>
            <div class="__addr_copy_group __mt2 __mb2">
                <h2 class="__b_ch_addr">{{ isAddressCreated }}</h2>
                <div ngxClipboard [cbContent]="isAddressCreated" (click)="copyAlert()" class="__c_addr_copy"><span class="__icon"></span><i>{{isAddressCreated}}</i></div>
            </div>
        </div>
        <div class="__dialog_footer">
          <div class="__dg __g1">
              <button class="__btn __default" (click)="hideDialog()">Хаах</button>
          </div>
        </div>
      </div>
    </div>
</p-dialog>
  
  