<div class="wrap_container">
  <div class="__d_wrap">
      <div class="__d_content">
          <div class="__dg __g2 __d_col">
              <div class="__d_img_b">
                  <div class="__img_box">
                      <div class="__img_box_content" (click)="urgImgZoomIn()" [ngClass]="{'urg-zoom-in': isZoom}">
                          <img [src]="IMG_PATH + nft.photo" />
                      </div>
                  </div>
              </div>
              <div class="__d_content_b">
                  <div class="__d_c_head">
                      <h1>{{ nft?.name }}</h1>
                      <div class="__back_btn"><a [routerLink]="['/']"><span></span>Буцах</a></div>
                      <div class="__dfjs">
                          <div *ngIf="nft?.type !== 'OPEN_EDITION'" class="__d_cm_status __limited"><span>{{ nft?.total }}/{{ nft?.available }}</span>{{ nft?.type_name }}</div>
                          <div *ngIf="nft?.type === 'OPEN_EDITION'" class="__d_cm_status __limited"><span>Нийт: {{ nft?.total }}</span></div>
                          <div class="__box_im_f">
                              <div class="__like_share __like" (click)="onLike()"><span></span>{{ likeCount }}</div>
                              <div class="__like_share __view"><span></span>{{ viewCount }}</div>
                              <div class="__like_share __share" (click)="onShare($event)"><span></span>{{ shareCount }}</div>
                          </div>
                      </div>
                      <div class="__dg __g2 __gap1_6">
                          <a (click)="goToCreator()" class="__dg __d_creator __aic">
                              <div class="__d_creator_img"><img [src]="collectionPic" alt="Гарчиг" /></div>
                              <div class="__d_creator_desc">
                                  <p>Бүтээгч</p>
                                  <h4>{{ nickname }}</h4>
                              </div>
                          </a>
                          <a [routerLink]="['/collection', nft?.collection_id]" class="__dg __d_creator __aic">
                              <div class="__d_creator_img"><img [src]="IMG_PATH + nft?.photo" alt="Гарчиг" /></div>
                              <div class="__d_creator_desc">
                                  <p>Цуглуулга</p>
                                  <h4>{{nft?.collection_name}}</h4>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="__d_c_main">
                      <div class="__d_c_desc">
                          <p>{{nft?.description}}</p>
                      </div>
                      <div class="__box_price">
                          <label class="__price_label">Үнэ</label>
                          <div class="__dg __g1 __gap1_6">
                            <label class="label" *ngFor="let price of nft?.prices">
                                <label class="radio-label" (click)="selectFiat(price)">
                                    <input type="radio" name="check" class="radiobox">
                                    <span class="checkmark"></span>
                                    {{ price.unitPrice }}<i>{{ price.symbol }}</i>
                                </label>
                            </label>
                          </div>
                      </div>
                      <div class="__d_count_down">
                          <h4> {{ (isNotYet && !isNftExpire)  ? 'Эхлэх хүртэл' : 'Дуусах хүртэл' }} </h4>
                          <app-countdown [data]="(isNotYet && !isNftExpire) ? nft?.start_date : nft?.end_date"></app-countdown>
                      </div>
                      <div class="__btn_item">
                        <a><button type="button" class="__btn __primary __w10" (click)="showDialog()" *ngIf="!isNotYet && !isNftExpire && nft?.type === 'OPEN_EDITION'">Худалдаж авах</button></a>
                        <a><button type="button" class="__btn __primary __w10" (click)="showDialog()" *ngIf="!isNotYet && !isNftExpire && nft?.type !== 'OPEN_EDITION' && nft?.available > 0">Худалдаж авах</button></a>
                        <a><button type="button" class="__btn __primary __w10" *ngIf="!isNotYet && !isNftExpire && nft?.type !== 'OPEN_EDITION' && nft?.available === 0">Худалдаалж дууссан</button></a>
                        <a><button type="button" class="__btn __primary __w10" *ngIf="isNotYet && !isNftExpire">Тун удахгүй</button></a>
                        <a><button type="button" class="__btn __primary __w10" *ngIf="!isNotYet && isNftExpire">Хугацаа дууссан байна</button></a>
                    </div>
                      <div class="__tab_wrap __mt3">
                          <div class="__tab_head">
                              <div class="__tab_item" [class.active]="activeItem === 1" (click)="tabItem(1)">Эзэмшигч</div>
                              <div class="__tab_item" [class.active]="activeItem === 2" (click)="tabItem(2)">Түүх</div>
                          </div>
                          <div class="__tab_main" *ngIf="activeItem === 1">
                              <div class="__tab_list_item">
                                  <div class="__dg __d_creator __aic" [routerLink]="'/creator/' + owners.nickname" *ngFor="let owners of nftOwners">
                                      <div class="__d_creator_img"><img [src]="IMG_PATH + owners.icon" alt="Гарчиг" /></div>
                                      <div class="__d_creator_desc">
                                          <p>Эзэмшигч: {{ owners.nickname }}</p>
                                          <a>{{ owners.ownedDate }}</a>
                                      </div>
                                  </div>
                                  <div class="__contract_id">
                                    <span class="__title">Smart Contract </span>
                                    <span class="__address" ngxClipboard [cbContent]="usrSmartContract" (click)="copyAlert()">{{ usrSmartContract }}</span>
                                  </div>
                              </div>
                          </div>
                          <div class="__tab_main" *ngIf="activeItem === 2">
                              <div class="__tab_list_item">
                                  <div class="__dg __d_creator __his __aic"  *ngFor="let history of nftHistorys">
                                      <div class="__d_creator_desc">
                                            <a [routerLink]="'/creator/' + history.toNickname"><span>хаашаа {{ history.toNickname }}</span></a>
                                            <p [routerLink]="'/creator/' + history.fromNickname">хэнээс {{ history.fromNickname }}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>


<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [closable]="isDialogShow">
    <div class="__dialog_wrap" [ngClass]="{'width_fix': !isAuth}" *ngIf="!isShowPin">
      <div class="__dialog_block" *ngIf="isAuth">
        <div *ngIf="!isBuyTime">
          <div class="__dialog_header">
            <h3>Худалдан авах</h3>
          </div>
          <div class="__dialog_main">
            <h4>Та<span>{{ nft?.name }}</span> NFT картаас 1ш худалдаж авах гэж байна.</h4>
            <div class="__c_alert_notice __dt_warn">
              <p>Санамж: Та энэхүү NFT-г худалдан авсан тохиолдолд буцаан олголт хийгдэхгүй болохыг анхаарна уу!
                Хэрвээ та авахдаа итгэлтэй байгаа бол ТИЙМ товчийг дарж үргэлжлүүлнэ үү!</p>
            </div>
          </div>
          <ul>
            <li><label>Нийт үнэ:</label>
              <p> {{ selectedFiat?.unitPrice }}  {{ selectedFiat?.symbol }} </p>
            </li>
            <li><label>Төлсний дараах таны үлдэгдэл:</label>
              <p> {{
                ((!isCoin ? choosenBalance?.available : choosenBalance?.balance) -  selectedFiat?.unitPrice) >= 0
                ? ((!isCoin ? choosenBalance?.available : choosenBalance?.balance) - selectedFiat?.unitPrice )
                : 'Боломжит үлдэгдэл хүрэлцэхгүй байна.' }}</p>
            </li>
          </ul>
          <div class="__dialog_footer __padding_top_20">
            <div class="__dg __g2 __gap2">
              <button type="button" class="__btn __default" (click)="hideDialog()">Үгүй</button>
              <button type="button" class="__btn __primary" (click)="showPinSection()">Тийм</button>
            </div>
          </div>
        </div>
        <div class="__is_load_time" *ngIf="isBuyTime">
          <p-progressSpinner></p-progressSpinner>
          <span class="__title">Та түр хүлээнэ үү</span>
          <span class="__desc">Захиалгыг бүртгэх явц явагдаж байна.</span>
        </div>
      </div>
      <div class="__dialog_block __detail_login" *ngIf="!isAuth">
        <div class="__min_container">
          <div class="__log_reg_content">
            <button class="__dialog_circle_close" (click)="hideDialog()"><i class="pi pi-times"></i></button>
            <div class="__log_reg_header">
              <h2>Та нэвтрэх шаардлагатай</h2>
            </div>
            <div class="__log_reg_main">
              <form [formGroup]="loginForm">
                <div class="__form_item">
                  <label class="__label">Утасны дугаар</label>
                  <input type="email" formControlName="username" class="__input" placeholder="" />
                </div>
                <div class="__form_item">
                  <label class="__label">Нууц үг</label>
                  <input type="password" formControlName="password" class="__input" placeholder="" />
                </div>
                <div class="__btn_item">
                  <a><button type="button" (click)="login()" class="__btn __primary">Нэвтрэх</button></a>
                </div>
              </form>
              <div class="__form_content">
                <a routerLink="/forgot">Нууц үг мартсан</a>
                <a routerLink="/register">Бүртгүүлэх</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="__dialog_wrap" [ngClass]="{'width_fix': !isAuth}" *ngIf="isShowPin">
      <div class="__form_item">
        <label class="__label">Нууц үг</label>
        <input type="password" [(ngModel)]="password" class="__input" placeholder="" />
      </div>
      <div class="__dialog_footer __padding_top_20">
        <div class="__dg __g2 __gap2">
          <button type="button" class="__btn __default" (click)="hideDialog()">Болих</button>
          <button type="button" class="__btn __primary" (click)="buyNft()">Худалдаж авах</button>
        </div>
      </div>
    </div>
  </p-dialog>