.__main_404_body {
  display: flex;
  align-items: center;
  justify-content: center;

  .__group {
    text-align: center;

    div {
      font-size: 90px;
      font-weight: bold;
      color: #fff;
    }

    span {
      color: #a5a0a0;
    }
  }
}
