<div>
    <div class="__d_creator nft_empty __dfcc">
        <img src="../../../assets/images/empty.svg" />
        <h4>Хоосон байна</h4>
        <a routerLink="nft/market/all" class="__btn __primary">NFT жагсаалт харах</a>
    </div>
    <!-- <div class="__dg __g2 __gap2_4">
        <a class="__box_item">
            <div class="__box_i_head">
                <a routerLink="../sell" class="__paUrl __btn __primary">Зарах</a>
                <div class="__box_status">Хаалттай
                </div>
                <div class="__img_box">
                <div class="__img_box_content"></div>
                </div>
            </div>
            <div class="__box_i_main">
                <h2 class="__box_title">ййй</h2>
                <div class="__box_price">
                <label>Үнэ</label>
                <span>100000<i>URG</i></span>
                <span>200000<i>MNT</i></span>
                </div>
                <div class="__box_im_f">
                    <div class="__like_share __like"><span></span>5</div>
                    <div class="__like_share __share"><span></span>1</div>
                </div>
                <div class="__box_im_c __dfjs">
                <label>Зохиогч</label>
                <div class="__dfc __aic">
                    <div class="__creat_img">
                    <img [src]="" />
                    </div>
                    <div class="__creat_name">nickname</div>
                </div>
                </div>
            </div>
        </a>
    </div> -->
</div>
