.__logout_btn {
  padding: 0 16px !important;
  border-color: #e91e63;
  color: #e91e63;
  cursor: pointer;
}

.__logout_btn_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    cursor: pointer;
  }

  .__logout_btn {
    position: relative;
    background: #e91e63;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    text-indent: 0 !important;
    height: 28px;
    width: auto !important;
    transition: all .15s ease-in;
    border-radius: 8px;
    
    &::after{
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .__logout_btn{
    text-indent: -10000px;
    width: 40px;
    overflow: hidden;
    &::after{
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      height: 20px;
      width: 20px;
      background: url('../../../assets/images/logout_icon.svg') no-repeat center center;
      background-size: 100%;
      transform: translate(-50%, -50%);
    }
  }
}
