<header class="__header_wrap" #scrollTop>
  <div class="__header_main">
      <div class="__header_content wrap_container">
          <div class="__dfjs">
              <div class="__header_left __dfc">
                <div class="__menu_small" *ngIf="isMobile" [class.open]="collapseBtn" (click)="toggleMegaMenu()"><span></span><span></span><span></span></div>
                <!-- <a routerLink="/nft" (click)="active(0)" class="__header_logo " [class.slogan]="urlLink === '/gift'" [class.wallet]="urlLink === '/wallet/balance' || urlLink === '/wallet/income' || urlLink === '/wallet/withdraw' || urlLink === '/wallet/history'" [class.nft]="urlLink === '/nft/main' || urlLink === '/nft/market/all'"><span></span></a> -->
                <a routerLink="/nft/list" (click)="active(0)" class="__header_logo slogan"><span></span></a>
                <!-- <a routerLink="/" (click)="active(0)" class="__header_logo"><span></span></a> -->
                  <div class="__header_menu" *ngIf="!isMobile">
                      <ul>
                        <li><a (click)="active(1)" routerLink="/" [ngClass]="{'active': activeMenu  === 1}">NFT<span>NEW</span></a></li>
                        <li><a (click)="active(4)" routerLink="/nft/market/all"  [ngClass]="{'active': activeMenu  === 4}">Marketplace</a></li>
                        <li><a (click)="active(2)" routerLink="/gift/list" [ngClass]="{'active': activeMenu === 2}">Бэлгийн карт</a></li>
                        <li><a (click)="active(3)" routerLink="wallet"  [ngClass]="{'active': activeMenu  === 3}">Хэтэвч</a></li>
                        <li *ngIf="isAuth"><a (click)="active(5)" [routerLink]="['mynft']"  [ngClass]="{'active': activeMenu  === 5}">Миний NFT</a></li>
                      </ul>
                  </div>
              </div>
              <div class="__header_right">
                  <div class="__hr_list __dfc">
                      <div class="__hr_l_item __login" *ngIf="!isAuth">
                          <a routerLink="login" class="__dfc"><span class="__icon __account"></span><p>Нэвтрэх</p></a>
                      </div>
                      <div class="__hr_l_item __register" *ngIf="!isAuth">
                          <a routerLink="register">Бүртгүүлэх</a>
                      </div>
                      <div class="__hr_l_item __login" *ngIf="isAuth">
                        <a routerLink="/profile" class="__dfc" *ngIf="user?.firstName"><span class="__icon __account"></span><p>{{ user?.lastName.charAt(0) }}.{{ user?.firstName }}</p></a>
                        <a routerLink="/profile" class="__dfc" *ngIf="!user?.firstName"><span class="__icon __account"></span><p>{{ user?.phoneNo }}</p></a>
                      </div>
                      <div class="__hr_l_item __login" *ngIf="isAuth">
                        <a class="__dfc __logout_btn" (click)="showLogout()">Гарах</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="__menu_m_wrap" *ngIf="isMobile" [class.open]="collapseBtn">
  <div class="__block __mobile">
      <ul>
        <li><a (click)="active(1); closeMenu()" routerLink="/nft/list"  [ngClass]="{'active': activeMenu  === 1}">NFT<span>NEW</span></a></li>
        <li><a (click)="active(4); closeMenu()" routerLink="/nft/market/all"  [ngClass]="{'active': activeMenu  === 4}">Marketplace</a></li>
        <li><a (click)="active(2); closeMenu()" routerLink="/gift/list" [ngClass]="{'active': activeMenu === 2}">Бэлгийн карт</a></li>
        <li><a (click)="active(3); closeMenu()" routerLink="wallet"  [ngClass]="{'active': activeMenu  === 3}">Хэтэвч</a></li>
        <li *ngIf="isAuth"><a (click)="active(5); closeMenu()" [routerLink]="['mynft']"  [ngClass]="{'active': activeMenu  === 5}">Миний NFT</a></li>
      </ul>
  </div>
</div>
<div class="__visited" (click)="closeMenu()" *ngIf="collapseBtn"></div>

<p-dialog [(visible)]="display" [modal]="true">
  <ng-template pTemplate="header">
    Гарах үйлдэл
  </ng-template>
    Та системээс гарахдаа итгэлтэй байна уу.
  <ng-template pTemplate="footer">
    <div class="__logout_btn_sec">
      <div class="__hr_l_item">
        <a class="__dfc" (click)="hideDialog()">Үгүй</a>
      </div>
      <div class="__hr_l_item">
        <a class="__dfc __logout_btn" (click)="logout()">Тийм</a>
      </div>
    </div>
  </ng-template>
</p-dialog>
<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
