<div class="__profile_wrapper" #imageWrap>
  <div class="__page_wrap">
      <div class="__page_header" [ngStyle]="{'height.px': markStyle}">
            <h2 *ngIf="active !== 1">Хэрэглэгчийн удирдлага</h2>
            <div class="__cc_head" [ngStyle]="{'height.px': markStyle}" *ngIf="active === 1">
                <div class="__upload_img_bg" [style.background-image]="'url(' + coverPath + ') !important'" *ngIf="hasCover === true">
                    <div class="__my_nft_cover">
                        <div class="__btn __primary">Зураг солих</div>
                        <input type="file" (change)="uploadFiles($event)" name="front_id_img" id="nft_profile_cover">
                    </div>
                </div>
                <div class="__my_nft_cover" *ngIf="hasCover === false">
                    <p>1500x500 pixel хэмжээтэй зураг оруулна.</p>
                    <div class="__btn __primary">Зураг оруулах</div>
                    <input type="file" (change)="uploadFiles($event)" name="front_id_img" id="nft_profile_cover">
                </div>
            </div>
      </div>
      <div class="__page_main">
          <div class="wrap_container">
              <div class="__cc_main">
              <ul class="__tab_wrap">
                  <li><a routerLink="/profile/general" (click)="activeTab(1)" [ngClass]="{'active': active === 1}">Хувийн мэдээлэл</a></li>
                  <li><a routerLink="/profile/info" (click)="activeTab(2)" [ngClass]="{'active': active === 2}"> Баталгаажуулалт</a></li>
                  <li><a routerLink="/profile/account" (click)="activeTab(3)" [ngClass]="{'active': active === 3}"> Дансны удирдлага</a></li>
                  <li><a routerLink="/profile/config" (click)="activeTab(6)" [ngClass]="{'active': active === 6}">Тохиргоо</a></li>
              </ul>
              <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>
