<div class="__page_content">
  <div class="__m_content">
    <div class="__prof_info">
      <h3 class="__page_content_title __step __dfjs">Утасны дугаар</h3>
      <div class="__page_block">
        <div class="__page_main_content">
          <div class="__config_item __dfjs">
            <div class="__dg __g4_1 __gap1_6 __aic">
              <div class="__config_icon __dfcc">
                <div class="__icon __wallet_icon"></div>
              </div>
              <p>{{ user?.phoneNo }}</p>
            </div>
            <!-- <button type="button" class="__btn __primary" onclick="dialogView('phone')">Өөрчлөх</button> -->
          </div>
        </div>
      </div>
      <h3 class="__page_content_title __step __dfjs">И-мэйл хаяг</h3>
      <div class="__page_block">
        <div class="__page_main_content">
          <div class="__config_item __dfjs">
            <div class="__dg __g4_1 __gap1_6 __aic">
              <div class="__config_icon __dfcc">
                <div class="__icon __wallet_icon"></div>
              </div>
              <p>{{ (user?.email) ? user?.email : 'Одоогоор бүртгээгүй байна' }}</p>
            </div>
            <!-- <button type="button" class="__btn __primary" onclick="dialogView('email')">Өөрчлөх</button> -->
          </div>
        </div>
      </div>
      <h3 class="__page_content_title __step __se __dfjs">Нууц үг солих</h3>
      <div class="__page_block">
        <div class="__page_main_content">
          <div class="__config_item __dfjs">
            <div class="__dg __g4_1 __gap1_6 __aic">
              <div class="__config_icon __dfcc">
                <div class="__icon __wallet_icon"></div>
              </div>
              <p>***********</p>
            </div>
            <button type="button" class="__btn __primary" (click)="showDialog()">Өөрчлөх</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [closable]="isDialogShow">
    <div class="__dialog_wrap">
      <div class="__dialog_block">
        <div class="__dialog_header">
          <h3>Нууц үг</h3>
        </div>
        <div class="__dialog_main">
          <form [formGroup]="changePassForm">
            <div class="__form_item">
              <label class="__label">Хуучин нууц үг</label>
              <input type="password" formControlName="currentPwd" class="__input" placeholder="" />
            </div>
            <div class="__form_item">
              <label class="__label">Шинэ нууц үг</label>
              <input type="password" formControlName="newPwd" (input)="regexCheck()" class="__input" placeholder="" />
              <div class="__valid_tooltip" *ngIf="!regex1 || !regex2 || !regex3 || !regex4 || !regex5">
                <ul>
                    <li><span class="__valid_icon" [ngClass]="{'__error' : !regex1, '__done' : regex1}"></span>Хамгийн багадаа 8 үсэг</li>
                    <li><span class="__valid_icon" [ngClass]="{'__error' : !regex2, '__done' : regex2}"></span>1 том үсэг</li>
                    <li><span class="__valid_icon" [ngClass]="{'__error' : !regex5, '__done' : regex5}"></span>1 жижиг үсэг</li>
                    <li><span class="__valid_icon" [ngClass]="{'__error' : !regex3, '__done' : regex3}"></span>1 тоо</li>
                    <li><span class="__valid_icon" [ngClass]="{'__error' : !regex4, '__done' : regex4}"></span>1 тэмдэгт</li>
                </ul>
              </div>
            </div>
            <div class="__form_item">
              <label class="__label">Шинэ нууц үг давтах</label>
              <input type="password" formControlName="rePwd"  class="__input" placeholder="" />
              <div class="__help_error" *ngIf="checkSamePassword() && changePassForm.controls['rePwd'].value !== undefined">Нууц үг таарахгүй байна</div>
            </div>
          </form>
        </div>
        <div class="__dialog_footer">
          <div class="__dg __g2 __gap2">
            <button type="button" class="__btn __default" (click)="hideDialog()">Үгүй</button>
            <button type="button" class="__btn __primary" [disabled]="changePassForm.invalid || checkSamePassword()" (click)="savePasswordChange()">Хадгалах</button>
          </div>
        </div>
      </div>
    </div>
</p-dialog>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
