<div class="__main_wrapper">
  <div class="wrap_container">
      <div class="__min_container">
          <div class="__log_reg_content">
              <div class="__log_reg_header">
                  <h2>Нэвтрэх</h2>
              </div>
              <div class="__log_reg_main">
                  <form [formGroup]="loginForm">
                      <div class="__form_item">
                          <label class="__label">Утасны дугаар</label>
                          <input type="email" formControlName="username" class="__input" placeholder="" />
                      </div>
                      <div class="__form_item">
                          <label class="__label">Нууц үг</label>
                          <input type="password" formControlName="password" class="__input" placeholder="" />
                      </div>
                      <div class="__btn_item">
                          <a><button type="button" (click)="login()" class="__btn __primary __w10">Нэвтрэх</button></a>
                      </div>
                  </form>
                  <div class="__form_content">
                      <a routerLink="/forgot">Нууц үг мартсан</a>
                      <a routerLink="/register">Бүртгүүлэх</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
