.__reg_btn:disabled {
  background-color: #0ab175;
}

.check_term {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    width: 40px;
  }

  .__Term {
    cursor: pointer;
  }
}

.__regist_foot ._term {}

.__frame_terms {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.__term_foot {
  width: 100%;
  position: sticky;
  bottom: -32px;
  padding-bottom: 20px;
  background-color: #fff;
}
