<div class="__main_wrapper">
  <div class="wrap_container">
      <div class="__min_container">
          <div class="__log_reg_content">
              <div class="__log_reg_header">
                  <h2>Бүртгэл үүсгэх</h2>
                  <p>Таны нэвтрэх нэр утасны дугаар байх болно</p>
              </div>
              <div class="__log_reg_main">
                  <form [formGroup]="registForm">
                      <div class="__form_item">
                          <label class="__label">Утасны дугаар</label>
                          <input type="text" formControlName="phone" class="__input" placeholder="" />
                          <div class="__help_error" *ngIf="registForm.controls['phone'].invalid && registForm.controls['phone'].value !== ''">Утасны дугаар буруу байна</div>
                      </div>
                      <div class="__form_item">
                          <label class="__label">Нууц үг</label>
                          <input type="password" formControlName="password" (input)="regexCheck()" class="__input" placeholder="" />
                          <div class="__valid_tooltip" *ngIf="!regex1 || !regex2 || !regex3 || !regex4 || !regex5">
                            <ul>
                                <li><span class="__valid_icon" [ngClass]="{'__error' : !regex1, '__done' : regex1}"></span>Хамгийн багадаа 8 үсэг</li>
                                <li><span class="__valid_icon" [ngClass]="{'__error' : !regex2, '__done' : regex2}"></span>1 том үсэг</li>
                                <li><span class="__valid_icon" [ngClass]="{'__error' : !regex5, '__done' : regex5}"></span>1 жижиг үсэг</li>
                                <li><span class="__valid_icon" [ngClass]="{'__error' : !regex3, '__done' : regex3}"></span>1 тоо</li>
                                <li><span class="__valid_icon" [ngClass]="{'__error' : !regex4, '__done' : regex4}"></span>1 тэмдэгт</li>
                            </ul>
                          </div>
                      </div>
                      <div class="__form_item">
                        <label class="__label">Нууц үг давтах</label>
                        <div class="__valid_item">
                            <input type="password" [(ngModel)]="secondPass" [ngModelOptions]="{standalone: true}" class="__input" placeholder="" />
                        </div>
                        <div class="__help_error" *ngIf="checkSamePassword() && secondPass !== undefined">Нууц үг таарахгүй байна</div>
                    </div>
                    <div class="check_term">
                      <label class="label">
                          <label class="checkbox-label">
                              <input type="checkbox" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" name="check" class="checkbox">
                              <span class="checkmark"></span>

                          </label>
                      </label>
                      <div class="label-text">Би Nomadic wallet <a class="__Term" (click)="showTerm()">Үйлчилгээний нөхцөл</a>ийг зөвшөөрч байна</div>
                    </div>
                      <div class="__btn_item">
                          <button type="button" (click)="regist()" type="submit" [disabled]="registForm.invalid || checkSamePassword()" class="__btn __primary __reg_btn __w10">Бүртгүүлэх</button>
                      </div>
                  </form>
                  <div class="__form_content">
                      <p>Бүртгэлтэй бол? <a routerLink="../login">Нэвтрэх</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<p-dialog header="Баталгаажуулах" [(visible)]="displayDialog" [draggable]="false" [style]="{width: '500px'}">
  <div class="__dg __gap1 __otp_sec">
    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
  </div>
  <div class="__regist_foot">
    <div class="__time_sec">
      <div>{{ time }}</div><span>сек</span>
    </div>
    <div class="__hr_l_item __register">
      <a (click)="sendTanAgain()">Дахин илгээх</a>
    </div>
  </div>
</p-dialog>

<p-dialog header="Үйлчилгээний нөхцөл" [(visible)]="termDialog" [draggable]="false" [style]="{width: '800px'}">
  <div [innerHTML]="term"></div>
  <div class="__regist_foot __term_foot">
    <div class="__time_sec">
      <a (click)="hideTerm()">Татгалзах</a>
    </div>
    <div class="__hr_l_item __register">
      <a (click)="agreeTerm()">Зөвшөөрөх</a>
    </div>
  </div>
</p-dialog>


<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
