.__current_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: linear-gradient(45deg, #2196F3 0%, darken(#2196F3, 50%) 100%) !important;
  background-size: 200% 200%;
  animation: backgroundChange 2s ease infinite;
  transition: 2s;

  .__text_section {
    display: flex;
    flex-direction: column;

    span {
      color: #fff;
      text-align: center;
      font-size: 32px;
      line-height: 1;

      &:first-child {}

      &:nth-child(2) {
        font-size: 62px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        color: #2fd2d7;
      }

      &:last-child {}
    }
  }
}

@media (max-width: 768px) {
  .__current_wrap {
    .__text_section {
      span {
        &:nth-child(2) {
          font-size: 40px;
          line-height: 1.2;
        }
      }
    }
  }
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.text {
  background: linear-gradient(23deg, #28e3b3, #2892e3, #7b28e3, #e3286c, #28e3d9, #e3dc28, #28e355, #e3a228);
  background-size: 1600% 1600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.text {
  text-align: center;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
