.table_accordion_row {
  display: flex;
  transition: .5s;
}

.__custom_row {
  display: flex;
  transition: .5s;
}

.__current_top {
  transition: .5s;
}

.__accordion_row {
  padding: 12px;
  display: none;
  opacity: 0;
  transition: .5s;
}

.__custom_th, .__custom_td {
  color: #616e91;
  font-size: 13px;
  width: 20%;
  padding: 12px;
  display: flex;
  align-items: center;
  transition: .5s;
}
.__custom_td{
  color: #000;
}

.has_child:hover {
  transition: .5s;

  .__accordion_row {
    display: flex;
    transition: .5s;
    opacity: 1;
  }
}
.__space_top_14px {
  margin-top: 14px !important;
}
.__current_space{
  padding: 20px;
}