<div class="__page_content">
  <div class="__m_content">
    <h3 class="__page_content_title __dfjs">Зарлага<a href=""><span></span></a></h3>
    <div class="__c_block __dg __current_space" *ngIf="userCoins.length === 0">
      <span>Таньд зарлага гаргах үлдэгдэл алга</span>
    </div>
    <div class="__c_block __dg" *ngIf="userCoins.length > 0">
      <div class="__c_item">
        <label class="__label">Зарлага гаргах</label>
        <!-- <ul class="__c_i_list">
          <li class="__c_item_c" (click)="selectCoin(item)" [ngClass]="{'active': selectedCoin.code === item.code}" *ngFor="let item of userCoins">
            <div class="__dfc">
              <div class="coin_img"></div>{{ item.name }}
            </div>
            <div class="__is_active"><span></span></div>
          </li>
        </ul> -->
        <p-dropdown [options]="userCoins" [(ngModel)]="selectedCity" optionLabel="name">
          <ng-template pTemplate="selectedItem">
            <div class="__coin_list_item country-item-value" *ngIf="selectedCity">
                <img [src]="currentIcon(selectedCity.code)"/>
                <div>{{selectedCity.name}}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
              <div class="__coin_list_item" (click)="selectCoin(country)">
                  <img [src]="currentIcon(country.code)" />
                  <div>{{country.name}}</div>
              </div>
          </ng-template>
        </p-dropdown>
        <div class="__dg __mt3">
          <div class="__page_block">
            <div class="__page_main_content">
              <div class="__dg __g24_1 __gap1">
                <div class="__icon __wallet_icon"></div>
                <div class="__c_count_p">
                  <label>Нийт үлдэгдэл</label>
                  <h4>
                    <p class="__balance_coin">{{ isAddressCreated ? (selectedCoinBalance | number) : 0 }}</p>
                    <span class="__current_balance">{{ (selectedCoin?.code === 'MNT') ?  selectedCoin?.code : selectedCoin?.symbol}}</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="__c_item" *ngIf="isShowMNT === false">
        <form [formGroup]="withdrawForm">
          <div class="__form_item">
            <label class="__label">Зарлага хүлээн авах хаяг<span class="__redc __ml_5 __s13">(Зөвхөн BEP20 сүлжээний
                хаяг оруулна)</span></label>
            <input type="text" formControlName="address" class="__input" placeholder="Хаяг" />
          </div>
          <div class="__form_item">
            <label class="__label">Зарлагын хэмжээ</label>
            <input type="currency" class="__input" formControlName="withdraw" placeholder="0.00" />
          </div>
        </form>
        <div class="__withdraw_item">Боломжит үлдэгдэл<span>{{ isAddressCreated ? (userBalanceInfo?.balance / blockDec | number) : 0 }}</span></div>
        <div class="__withdraw_item">Зарлагын доод хэмжээ<span>{{ minWithdraw | number}} URG<i class="__redc __s11">-с дээш дүн оруулна
              уу!</i></span></div>
        <div class="__dg __g2 __mt3 __with_updown_wrap">
          <div class="__with_updown_item">
            <div class="__dg __g24_1 __gap1">
              <span class="__icon __up"></span>
              <div class="">
                <label class="__label">Хураамжийн хэмжээ</label>
                <h4>{{ (withdrawForm.controls['withdraw'].value * selectedCoin?.withdrawPercentage)/100 | number }} URG</h4>
              </div>
            </div>
          </div>
          <div class="__with_updown_item">
            <div class="__dg __g24_1 __gap1">
              <span class="__icon __down"></span>
              <div class="">
                <label class="__label">Таны авах дүн</label>
                <h4>{{ (withdrawForm.controls['withdraw'].value !== null && withdrawForm.controls['withdraw'].value >=  (withdrawForm.controls['withdraw'].value * selectedCoin?.withdrawPercentage)/100 ) ? (withdrawForm.controls['withdraw'].value -  (withdrawForm.controls['withdraw'].value * selectedCoin?.withdrawPercentage)/100 | number) : 0}} URG</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="__c_alert_notice __dt_warn">
          <p>Одоогоор зарлага гаргах боломжгүй байна!</p>
        </div> -->
        <div class="__w10 __mt2_4 __dfce">
          <button type="button" class="__btn __primary" [disabled]="checkTransDisable()" (click)="showOtpDialog()">Зарлага гаргах</button>
        </div>
      </div>
      <div class="__c_item"  *ngIf="isShowMNT === true">
        
        <form [formGroup]="fiatForm">
          <div class="__form_item">
            <label class="__label">Зарлага гаргах данс</label>
            <p-dropdown [options]="myBanks" [(ngModel)]="selectedBank" [ngModelOptions]="{standalone: true}" placeholder="Данс сонгох" >
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value"  *ngIf="selectedBank">
                    <div>{{selectedBank.bankName }} - {{ selectedBank.accountNo }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                  <div class="country-item" (click)="selectBank(item)">
                      <div>{{item.bankName}} - {{ selectedBank.accountNo }}</div>
                  </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="__form_item">
            <label class="__label">Зарлагын хэмжээ</label>
            <input type="number" class="__input" formControlName="dischargeAmount" placeholder="0.00" />
          </div>
          <div class="__dg __g2 __mt3 __with_updown_wrap">
            <div class="__with_updown_item">
              <div class="__dg __g24_1 __gap1">
                <span class="__icon __up"></span>
                <div class="">
                  <label class="__label">Шимтгэл</label>
                  <h4>{{ selectedBank.withdrawFee ? selectedBank.withdrawFee : 0 }}</h4>
                </div>
              </div>
            </div>
            <div class="__with_updown_item">
              <div class="__dg __g24_1 __gap1">
                <span class="__icon __down"></span>
                <div class="">
                  <label class="__label">Таны авах дүн</label>
                  <h4>{{ (fiatForm.controls['dischargeAmount'].value - selectedBank.withdrawFee) > 0 ? fiatForm.controls['dischargeAmount'].value - selectedBank.withdrawFee : 0 }}</h4>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="__w10 __mt2_4 __dfce">
          <button type="button" class="__btn __primary" [disabled]="checkFiatDisable()" (click)="showFiatDialog()">Зарлага гаргах</button>
        </div>
      </div>
    </div>
    <h3 class="__page_content_title __dfjs">Сүүлд хийсэн зарлагын түүх<a routerLink="../history"><span></span>Бүх түүхийг харах</a></h3>
    <div class="__c_block">
      <div class="__table_wrap">
        <table class="__table">
          <thead>
            <tr>
              <div class="__custom_row">
                <div class="__custom_th">Огноо</div>
                <div class="__custom_th">Вальют</div>
                <div class="__custom_th">Хэмжээ</div>
                <div class="__custom_th">Хаашаа</div>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of withdrawHistory">
              <div class="__current_top" [ngClass]="{'has_child': item.txnHash}">
                <div class="table_accordion_row">
                  <div class="__custom_td">{{ item.createdDate }}</div>
                  <div class="__custom_td">{{ selectedCoin?.symbol }}</div>
                  <div class="__custom_td">{{ item.amount | number }}</div>
                  <div class="__custom_td">{{ item.to }}</div>
                </div>
                <div class="__accordion_row">
                  <span *ngIf="item.txnHash">txnHash: <b>{{item.txnHash}}</b></span>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="urg_pagination __black" *ngIf="totalData > 0">
      <p-paginator [rows]="10" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-dialog header="Баталгаажуулах" [(visible)]="displayDialog" [draggable]="false" [style]="{width: '500px'}">
  <input type="password" [(ngModel)]="userPassword" class="__input" placeholder="Нууц үгээ оруулна уу" />
  <div class="__c_alert_notice __dt_warn">
    <p>Та Зарлага гаргахдаа итгэлтэй байна уу. Таны шилжүүлж буй хаяг буруу бол та өөрийн URG өө алдах эрсдэлтэй. Үүнийг NOMADX хариуцахгүй.</p>
  </div>
  <button type="button" class="__btn __primary __space_top_14px" (click)="sendTransfer()">Илгээх</button>
  <div class="__regist_foot">
  </div>
</p-dialog>

<p-dialog header="Баталгаажуулах" [(visible)]="fiatDialog" [draggable]="false" [style]="{width: '500px'}">
  <input type="password" [(ngModel)]="userPassword" class="__input" placeholder="Нууц үгээ оруулна уу" />
  <div class="__c_alert_notice __dt_warn">
    <p>Та Зарлага гаргахдаа итгэлтэй байна уу. Таны шилжүүлж буй хаяг буруу бол та өөрийн мөнгөө алдах эрсдэлтэй. Үүнийг NOMADX хариуцахгүй.</p>
  </div>
  <button type="button" class="__btn __primary __space_top_14px" (click)="sendFiatTransfer()">Илгээх</button>
  <div class="__regist_foot">
  </div>
</p-dialog>
