<div class="__page_content">
  <div class="__m_content">
      <h3 class="__page_content_title">Орлого ба зарлагын түүх</h3>
      <div class="__c_block __mb3">
        <div class="__c_item">
          <!-- <ul class="__c_i_list">
            <li class="__c_item_c" (click)="selectCoin(item)" [ngClass]="{'active': selectedCoin.code === item.code}" *ngFor="let item of userCoins">
              <div class="__dfc">
                <div class="coin_img"></div>{{ item.name }}
              </div>
              <div class="__is_active"><span></span></div>
            </li>
          </ul> -->
          <p-dropdown [options]="userCoins" [(ngModel)]="selectedCoin" optionLabel="name">
            <ng-template pTemplate="selectedItem">
              <div class="__coin_list_item country-item-value" *ngIf="selectedCoin">
                  <img [src]="currentIcon(selectedCoin.code)" />
                  <div>{{selectedCoin.name}}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="__coin_list_item" (click)="selectCoin(country)">
                    <img [src]="currentIcon(country.code)" />
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="__c_block __dg">
        <div class="__two_tab_pn">
           <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
            <ng-template pTemplate="item" let-item let-i="index">
              <span (click)="activateMenu(item, $event)">{{ item.label }}</span>
            </ng-template>
           </p-tabMenu>
        </div>
        <div class="__history_table_fix">
            <div class="__table_wrap">
                <table class="__table" *ngIf="activeItem.id === 1">
                    <thead>
                        <tr>
                            <th>Огноо</th>
                            <th>Вальют</th>
                            <th>Хэмжээ</th>
                            <th>Хаанаас</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isShowMNT">
                      <tr *ngFor="let item of insData">
                        <td>{{ item.createdDate }}</td>
                        <td>{{ selectedCoin.name }}</td>
                        <td>{{ item.amount | number }}</td>
                        <td>{{ item.from }}</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="isShowMNT">
                      <tr *ngFor="let item of userFiatHistory">
                        <td>{{ item.created_date }}</td>
                        <td>{{ item.currency }}</td>
                        <td>{{ item.amount | number }}</td>
                        <td></td>
                      </tr>
                      <tr *ngIf="userFiatHistory.length === 0">
                        <td colspan="5" style="text-align: center;">Түүх хоосон</td>
                      </tr>
                    </tbody>
                </table>
                <table class="__table" *ngIf="activeItem.id === 2">
                  <thead>
                      <tr>
                          <th>Огноо</th>
                          <th>Вальют</th>
                          <th>Хэмжээ</th>
                          <th>Төлөв</th>
                          <th>Мэдээлэл</th>
                      </tr>
                  </thead>
                  <tbody *ngIf="!isShowMNT">
                    <tr *ngFor="let item of withdrawHistory">
                      <td>{{ item.createdDate }}</td>
                      <td>{{ selectedCoin?.symbol }}</td>
                      <td>{{ item.amount | number }}</td>
                      <td><span class="__status"
                        [ngClass]="{'__confirm': item.status === 0,
                        '__waiting': item.status === 1}">{{ item.statusText }}</span></td>
                      <td>{{ item.statement }}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="isShowMNT">
                    <tr *ngFor="let item of userFiatHistory">
                      <td>{{ item.created_date }}</td>
                      <td>{{ item.currency }}</td>
                      <td>{{ item.amount | number }}</td>
                      <td></td>
                    </tr>
                    <tr *ngIf="userFiatHistory.length === 0">
                      <td colspan="5" style="text-align: center;">Түүх хоосон</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="urg_pagination __black" *ngIf="totalData > 0 && isShowMNT === false">
        <p-paginator [rows]="10" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
      </div>
      <div class="urg_pagination __black" *ngIf="totalMNT > 0 && isShowMNT === true">
        <p-paginator [rows]="10" [totalRecords]="totalMNT" (onPageChange)="historyPage($event)"></p-paginator>
      </div>
  </div>
</div>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
