p-tabMenu {
  background-color: red !important;

  .p-component {
    background-color: green !important;

    ul {
      background-color: blue !important;
      width: 100%;

      li {
        width: 50% !important;
      }
    }
  }
}
