<div class="__page_content">
  <div class="__m_content">
    <h3 class="__page_content_title" *ngIf="isShowGiftSection">
      <div (click)="backToGiftList()"><i class="pi pi-arrow-left __left_btn"></i>Буцах</div>
    </h3>
    <h3 class="__page_content_title" *ngIf="!isShowGiftSection">Миний авсан бэлгийн карт</h3>
    <div class="__page_block" *ngIf="isShowGiftSection">
      <div class="__page_main_content">
        <div class="__dg __g2 __gap2">
          <div class="__giftcard_detail">
            <div class="__gift_list_img">
              <div class="__gift_i_img"><img [src]="IMG_PATH + selectedGift.photo" /></div>
            </div>
            <h3 class="__mt2">{{ selectedGift?.giftcardName }}</h3>
          </div>
          <div class="">
            <form [formGroup]="sendGiftForm">
              <div class="__form_item">
                <label class="__label">Утасны дугаар</label>
                <input type="number" (keydown.space)="$event.preventDefault();" formControlName="phone" class="__input" placeholder="" />
                <span class="__redc __ml_5 __s13 __warning_current_space">Дараах үйлчилгээний шимтгэл 100 URG болно.</span>
              </div>
              <div class="">
                <button type="button" class="__btn __primary __w10" (click)="sendGiftCard()">Илгээх</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="__c_block" *ngIf="!isShowGiftSection">
      <div class="__table_wrap">
        <table class="__table">
          <thead>
            <tr>
              <th>Зураг</th>
              <th>Нэр /төлөв/</th>
              <th>Үнэ</th>
              <th>Тоо ширхэг</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ownedGiftData">
              <td width="120">
                <div class="__gift_list_img">
                  <div class="__gift_img"><img [src]="IMG_PATH + item.photo" /></div>
                </div>
              </td>
              <td>{{ item.giftCardName }} <div class="__mt_5" *ngIf="item.receivedUserPhoneNo"><span
                    class="__status __request_sent">Бэлэглэсэн - {{ item.receivedUserPhoneNo }}</span></div>
              </td>
              <td>{{ item.fiatBalance | number}} {{ item.fiatCode }}</td>
              <td>1</td>
              <td class="__table_action">
                <div class="__dg __g2 __gap1">
                  <a (click)="showGiftSection(item)" *ngIf="item.allowedForTheGift"><button type="button"
                      class="__btn __default">Бэлэглэх</button></a>
                  <button type="button" class="__btn __primary" *ngIf="item.receivedUserPhoneNo === null || item.receivedUserPhoneNo === ''" (click)="useGift(item)">Ашиглах</button>
                </div>
              </td>
            </tr>
            <tr *ngIf="ownedGiftData.length === 0">
              <td colspan="5">
                Бэлэг хоосон байна.
              </td>
            </tr>
          </tbody>
        </table>
        <div class="urg_pagination __black" *ngIf="totalData > 0">
          <p-paginator [rows]="10" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
    <h3 class="__page_content_title">Миний авсан сугалаа</h3>
    <div class="__c_block">
      <div class="__table_wrap">
        <table class="__table">
          <thead>
            <tr>
              <th>Зураг</th>
              <th>Нэр</th>
              <th>Үнэ</th>
              <th>Тоо ширхэг</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ownedLotteryData">
              <td width="120">
                <div class="__gift_list_img">
                  <div class="__gift_img"><img src="images/cart1.png" /></div>
                </div>
              </td>
              <td>Супер сугалаа</td>
              <td>15,000 URG</td>
              <td>3<span class="__status __request_sent __ml1">Сугалаанд оролцох эрх</span>
              </td>
            </tr>
            <tr *ngIf="ownedLotteryData.lenght === 0">
              <td colspan="4">Хоосон талбар</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>

<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [closable]="isDialogShow">
  <div class="__dialog_wrap">
    <div class="__dialog_block">
      <div class="__dialog_header">
        <h3>Бэлгийн картаа ашиглах</h3>
      </div>
      <div class="__dialog_main">
        <div class="__form_item">
          <label class="__label">Промо код</label>
          <p class="__input" >{{ promoCode }}</p>
        </div>
        <div class="__form_item" *ngIf="hasPin">
          <label class="__label">Промо пин</label>
          <p class="__input" >{{ promoPin }}</p>
        </div>
        <div class="__form_item">
          <qrcode class="__middle" [allowEmptyString]="true" [qrdata]="promoCode" [width]="256"
                [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
    </div>
    <div class="__dialog_footer">
      <div class="">
        <button type="button" class="__btn __default __w10" (click)="hideUseGiftDialog()">Хаах</button>
      </div>
    </div>
  </div>
</p-dialog>
