<div class="__page_content">
    <div class="__m_content">
        <h3 class="__page_content_title __dfjs">Банкны данс<button class="__btn __primary" (click)="addAccount()">Шинэ данс нэмэх</button></h3>
        <div class="__c_block">
            <div class="__table_wrap">
                <table class="__table">
                <thead>
                    <tr>
                        <th>Вальют</th>
                        <th>Банкны нэр</th>
                        <th>Банкны данс</th>
                        <th>Эзэмшигчийн нэр</th>
                        <th>Төлөв</th>
                        <th>Үйлдэл</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of myBanks">
                        <td>{{ item.fiatCode }}</td>
                        <td>{{ item.bankName }}</td>
                        <td>{{ item.accountNo }}</td>
                        <td>{{ item.accountName }}</td>
                        <td>
                            <div class="__dfc">
                                <span [ngClass]="{'__confirm': item.confirmedFlag, '__not_confirmed': !item.confirmedFlag }" class="__account_status __dfcc">
                                </span>{{ item.confirmedFlag ? 'Данс баталгаажсан' : 'Баталгаажуулах шаардлагатай' }}
                            </div>
                        </td>
                        <td><div (click)="removeBanks(item)" class="__remove __dfcc"><span></span></div></td>
                    </tr>
                    <tr *ngIf="myBanks.length ===0">
                        <td colspan="6">Данс олдсонгүй</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="isDialogShow" [modal]="isDialogShow" [dismissableMask]="true">
    <div class="__dialog_wrap">
        <div class="__dialog_block">
            <div class="__dialog_header">
                <h3>Данс нэмэх</h3>
            </div>
            <div class="__dialog_main">
                <form [formGroup]="bankForm">
                    <div class="__form_item">
                    <label class="__label">Вальют</label>
                    <select class="__select" formControlName="fiat_code">
                        <option value="null">Вальют сонгох</option>
                        <option *ngFor="let item of fiats" value="{{ item.code }}">{{ item.name }}</option>
                    </select>
                    </div>
                    <div class="__form_item">
                    <label class="__label">Арилжааны банк</label>
                    <select class="__select" formControlName="bank_code">
                        <option value="null">Арилжааны банк сонгох</option>
                        <option *ngFor="let item of banks" value="{{item.code}}">{{ item.name }}</option>
                    </select>
                    </div>
                    <div class="__form_item">
                    <label class="__label">Данс эзэмшигчийн нэр</label>
                    <input type="text" class="__input" formControlName="account_name" placeholder="Эзэмшигчийн нэр" />
                    </div>
                    <div class="__form_item">
                    <label class="__label">Дансны дугаар</label>
                    <input type="text" class="__input" formControlName="account_no" placeholder="Дансны дугаар" />
                    </div>
                </form>
            </div>
            <div class="__dialog_footer">
                <div class="__dg __g1">
                    <button type="button" [disabled]="bankForm.invalid" class="__btn __primary" (click)="hideDialog()">Илгээх</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>