<div class="__page_content">
    <div class="__m_content">
        <div class="__dg">
            <div class="__page_block">
                <div class="__my_nft">
                    <div class="__my_nft_main __page_main_content">
                        <ul class="__tab_wrap">
                            <li><span class="active">Цуглуулсан</span></li>
                            <li><span>Үүсгэсэн</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
