<div class="__tab_main">
  <div class="__d_creator nft_empty __dfcc" *ngIf="mineNfts.length === 0">
    <img src="../../../assets/images/empty.svg" />
    <h4>Хоосон байна</h4>
    <a routerLink="nft/market/all" class="__btn __primary">NFT жагсаалт харах</a>
  </div>
  <div class="__dg __g2 __gap2_4" *ngIf="mineNfts.length > 0">
    <ng-container *ngFor="let item of mineNfts; let i=index">
      <a [routerLink]="['/nft/detail', item.bsId, item.code ]" class="__box_item">
        <div class="__box_i_head">
          <a [routerLink]="['../sell', item.bsId, item.code ]" class="__paUrl __btn __primary">Зарах</a>
          <div class="__img_box">
            <div class="__img_box_content" [ngStyle]="{backgroundImage: 'url(' + IMG_PATH + item.photo + ')'}">
            </div>
          </div>
        </div>
        <div class="__box_i_main">
          <h2 class="__box_title">{{ item.name }}</h2>
          <div class="__box_im_f">
            <div class="__like_share __like"><span></span>{{ item.likes }}</div>
            <div class="__like_share __share"><span></span> {{ item.shares }}</div>
          </div>
          <div class="__box_im_c __dfjs">
            <label>Зохиогч</label>
            <div class="__dfc __aic">
              <div class="__creat_img">
                <img [src]="IMG_PATH + item.creator.picture" />
              </div>
              <div class="__creat_name">{{ item.creator.nickname }}</div>
            </div>
          </div>
        </div>
        <div class="__item_shadow"></div>
        <div class="__item_shadow __rear"></div>
      </a>
    </ng-container>
  </div>
  <div class="urg_pagination">
    <p-paginator [rows]="4" [totalRecords]="totalData" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
