// Доош чиглэн унах
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}


@keyframes shineAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }

  100% {
    transform: scale(2);
    opacity: 0;
    transform-origin: center;
  }
}



@keyframes scrollDown{
  0%{
      transform: translateY(-15px);
      opacity: 0;
  }
  45%{
      transform: translateY(0px);
      opacity: 1;
  }
  65%{
      transform: translateY(-5px);
      opacity: 1;
  }
  100%{
      transform: translateY(15px);
      opacity: 0;
  }
}