.nso_home_info {
  .__home_info_groups {
    .nso_carousel {
      p-carousel {
        .p-carousel {
          .p-carousel-content {
            .p-carousel-container {
              .p-carousel-prev {
                position: absolute;
                top: -28px;
                right: 32px;
                margin: 0;
                display: flex;
                justify-content: center;

                &:hover {
                  background-color: none;
                  background: none;
                }
              }

              .p-carousel-next {
                position: absolute;
                top: -28px;
                right: 0;
                margin: 0px;
                display: flex;
                justify-content: flex-end;

                &:hover {
                  background-color: none;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
}