@media only screen and (min-width: 960px) {

  /* Дэлгэцний урт 960px ээс их үед */
  .nso_container {
    width: 740px;
  }
}

@media only screen and (min-width: 1200px) {

  /* Дэлгэцний урт 1200px ээс их үед */
  .nso_container {
    width: 970px;
  }
}

@media only screen and (min-width: 1440px) {

  /* Дэлгэцний урт 1440px ээс их үед */
  .nso_container {
    width: 1040px;
  }
}

@media only screen and (min-width: 1680px) {

  /* Дэлгэцний урт 1680px ээс их үед */
  .nso_container {
    width: 1170px;
  }
}

@media only screen and (min-width: 2000px) {
  /* UltraWide эсвэл (mac) бол */
}

@media only screen and (max-device-width: 480px) {

  /* Утасний дэлгэц */
  .nso_container {
    width: 100%;
  }
}

@media only screen and (device-width: 768px) {
  /* IPad дэлгэц */
}
