@charset "UTF-8";

:root {
    --accent: #005BAA;
    --second: #FFFFFF;

    --text-main: #333A3F;
    --text-accent: #005BAA;
    --text-second: #CED0D1;
    --text-sub: #FFFFFF;
    --text-desc: #7C7E80;
    --text-warn: #E75E5E;
    --text-success: #40AC70;

    --surface-a: #FFFFFF;
    --surface-a-mirror: #FFFFFF12;
    --surface-a-trans: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    --surface-b: #F5F7F9;
    --surface-c: #005BAA;
    --surface-d: #F2F5F9;
    --surface-water: #E4EEFF;
    --surface-silver: #F9FAFB;
    --surface-warn: #E75E5E;
    --surface-success: #40AC70;
    --surface-dark: #333A3F;
    --surface-success-grad: linear-gradient(91.09deg, #40AC70 0.36%, #55C486 99.48%);
    --surface-bk: linear-gradient(91.17deg, #F6FBFB 0.72%, #D7DEF6 59.53%, #EFD8D8 98.91%);
    --surface-bk2: linear-gradient(116.83deg, #DEEBFF -89.24%, rgba(222, 235, 255, 0) 220.34%, #F9FAFB 220.34%);
    --surface-bk3: linear-gradient(91.17deg, #F9FAFA 0.72%, #DEEBFF 59.53%, #FDF8FF 98.91%);

    --border-a: #1F4F8E;
    --border-b: #81578E;
    --border-c: #C65244;
    --border-d: #909C9A;
    --border-e: #57AD90;
    --border-f: #E3B234;
    --border-g: #333A3F24;

    --table-header: #F8FBFF;

    --devide: #CED0D1;

}

.prefers-dark-color {
    --accent: #005BAA;
    --second: #FFFFFF;

    --text-main: #333A3F;
    --text-accent: #005BAA;
    --text-second: #CED0D1;
    --text-sub: #FFFFFF;
    --text-desc: #7C7E80;
    --text-warn: #E75E5E;
    --text-success: #40AC70;

    --surface-a: #FFFFFF;
    --surface-a-mirror: #FFFFFF12;
    --surface-a-trans: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    --surface-b: #F5F7F9;
    --surface-c: #005BAA;
    --surface-d: #F2F5F9;
    --surface-water: #E4EEFF;
    --surface-silver: #F9FAFB;
    --surface-warn: #E75E5E;
    --surface-success: #40AC70;
    --surface-dark: #333A3F;
    --surface-success-grad: linear-gradient(91.09deg, #40AC70 0.36%, #55C486 99.48%);
    --surface-bk: linear-gradient(91.17deg, #F6FBFB 0.72%, #D7DEF6 59.53%, #EFD8D8 98.91%);
    --surface-bk2: linear-gradient(116.83deg, #DEEBFF -89.24%, rgba(222, 235, 255, 0) 220.34%, #F9FAFB 220.34%);
    --surface-bk3: linear-gradient(91.17deg, #F9FAFA 0.72%, #DEEBFF 59.53%, #FDF8FF 98.91%);

    --border-a: #1F4F8E;
    --border-b: #81578E;
    --border-c: #C65244;
    --border-d: #909C9A;
    --border-e: #57AD90;
    --border-f: #E3B234;
    --border-g: #333A3F24;

    --table-header: #F8FBFF;

    --devide: #CED0D1;

}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #005BAA;
        --second: #FFFFFF;

        --text-main: #333A3F;
        --text-accent: #005BAA;
        --text-second: #CED0D1;
        --text-sub: #FFFFFF;
        --text-desc: #7C7E80;
        --text-warn: #E75E5E;
        --text-success: #40AC70;

        --surface-a: #FFFFFF;
        --surface-a-mirror: #FFFFFF12;
        --surface-a-trans: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
        --surface-b: #F5F7F9;
        --surface-c: #005BAA;
        --surface-d: #F2F5F9;
        --surface-water: #E4EEFF;
        --surface-silver: #F9FAFB;
        --surface-warn: #E75E5E;
        --surface-success: #40AC70;
        --surface-dark: #333A3F;
        --surface-success-grad: linear-gradient(91.09deg, #40AC70 0.36%, #55C486 99.48%);
        --surface-bk: linear-gradient(91.17deg, #F6FBFB 0.72%, #D7DEF6 59.53%, #EFD8D8 98.91%);
        --surface-bk2: linear-gradient(116.83deg, #DEEBFF -89.24%, rgba(222, 235, 255, 0) 220.34%, #F9FAFB 220.34%);
        --surface-bk3: linear-gradient(91.17deg, #F9FAFA 0.72%, #DEEBFF 59.53%, #FDF8FF 98.91%);

        --border-a: #1F4F8E;
        --border-b: #81578E;
        --border-c: #C65244;
        --border-d: #909C9A;
        --border-e: #57AD90;
        --border-f: #E3B234;
        --border-g: #333A3F24;

        --table-header: #F8FBFF;

        --devide: #CED0D1;

    }
}