<footer class="nomadic_footer">
  <div class="__footer_wrap">
      <div class="wrap_container">
          <div class="__footer_copyrights"><p>&copy; Copyright 2021 | All Rights Reserved.</p></div>
      </div>
  </div>
</footer>
